force-app/main/default/flows/Agentforce_Create_Multiple_Cases_from_One.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Agentforce_Service_Agent_Action_1</name>
        <label>Agentforce_Service_Agent Action 1</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <actionName>agent__Agentforce_Service_AgentNotFound</actionName>
        <actionType>generateAiAgentResponse</actionType>
        <connector>
            <targetReference>Split_Service_Case_with_multiple_items_Action_1</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>sessionId</name>
        </inputParameters>
        <inputParameters>
            <name>userMessage</name>
            <value>
                <stringValue>Analyze the {!Get_Parent_Case.Case_Summary__c}, {!Get_Parent_Case.Email_Summary_Field__c}, and {!Get_Parent_Case.Description} to determine if they contain more than a single issue. If there are multuple issues, offer to separate the issues into separate tickets. </stringValue>
            </value>
        </inputParameters>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Split_Service_Case_with_multiple_items_Action_1</name>
        <label>Split Service Case with multiple items Action 1</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>0hfVo000000HOh3NotFound</actionName>
        <actionType>generatePromptResponse</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:Email</name>
        </inputParameters>
        <inputParameters>
            <name>Input:Case</name>
            <value>
                <elementReference>Get_Parent_Case</elementReference>
            </value>
        </inputParameters>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <description>Agentforce Create Multiple Cases from One</description>
    <environments>Default</environments>
    <interviewLabel>Agentforce Create Multiple Cases fromOne {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agentforce Create Multiple Cases from One</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Get Parent Case</description>
        <name>Get_Parent_Case</name>
        <label>Get Parent Case</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agentforce_Service_Agent_Action_1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentRecord</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Parent_Case</targetReference>
        </connector>
    </start>
    <status>InvalidDraft</status>
</Flow>
