force-app/main/default/flows/Background_Check_Follow_Up_Tasks.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Task_Created_Email</name>
        <label>Send Task Created Email</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Log_Task_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>TaskEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>rtenny@financialguide.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Background Check Follow-Up Required</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@financialguide.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_Days_Since_In_Background</name>
        <label>Check Days Since In Background</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Twelve_Days_or_More</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>DaysSinceInBackground</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>12.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_ALC_Records.Background_Check_Task_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Background_Check_Task</targetReference>
            </connector>
            <label>Twelve Days or More</label>
        </rules>
    </decisions>
    <description>Creates follow-up tasks for Rachyll Tenny 12 days after ALC records enter In Background stage</description>
    <environments>Default</environments>
    <formulas>
        <name>DaysSinceInBackground</name>
        <dataType>Number</dataType>
        <expression>TODAY() - {!Loop_ALC_Records.In_Background_Since__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Background Check Follow-Up Tasks {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Background Check Follow-Up Tasks</label>
    <loops>
        <name>Loop_ALC_Records</name>
        <label>Loop ALC Records</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <collectionReference>Get_ALC_Records_In_Background</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Days_Since_In_Background</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Background_Check_Task</name>
        <label>Create Background Check Task</label>
        <locationX>270</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Send_Task_Created_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0055f00000DqpnpAAB</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Follow up on background check progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Loop_ALC_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Log_Task_Email</name>
        <label>Log Task Email</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Task_Created_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>Loop_ALC_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Background Check Follow-Up Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>TaskEmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <stringValue>rtenny@financialguide.com</stringValue>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordLookups>
        <name>Get_ALC_Records_In_Background</name>
        <label>Get ALC Records In Background</label>
        <locationX>176</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ALC_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In Background</stringValue>
            </value>
        </filters>
        <filters>
            <field>In_Background_Since__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ALC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Task_Created_Flag</name>
        <label>Update Task Created Flag</label>
        <locationX>270</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Loop_ALC_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_ALC_Records.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Background_Check_Task_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>ALC__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ALC_Records_In_Background</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-12-10</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TaskDescription</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong&gt;Background Check Follow-Up Required&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Candidate:&lt;/strong&gt; {!Loop_ALC_Records.First_Name__c} {!Loop_ALC_Records.Last_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ALC Record:&lt;/strong&gt; {!Loop_ALC_Records.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Stage:&lt;/strong&gt; In Background&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Days in Background:&lt;/strong&gt; {!DaysSinceInBackground}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Entered In Background:&lt;/strong&gt; {!Loop_ALC_Records.In_Background_Since__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Action Required:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;It has been 12 days since this candidate&amp;#39;s ALC record entered the In Background stage. Please reach out to check on the status of the background check and determine if there are any issues or delays.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If the background check is complete, please update the ALC record stage accordingly.&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>TaskEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Hello Rachyll,&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;A follow-up task has been created for the following ALC record that has been in the In Background stage for 12 days:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Candidate:&lt;/strong&gt; {!Loop_ALC_Records.First_Name__c} {!Loop_ALC_Records.Last_Name__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;ALC Record:&lt;/strong&gt; {!Loop_ALC_Records.Name}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Days in Background:&lt;/strong&gt; {!DaysSinceInBackground}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Entered In Background:&lt;/strong&gt; {!Loop_ALC_Records.In_Background_Since__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please check on the status of the background check and update the record accordingly.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Thank you,&lt;/p&gt;&lt;p&gt;Recruiter Portal System&lt;/p&gt;</text>
    </textTemplates>
</Flow>
