force-app/main/default/flows/Calculate_Contract_End_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <description>Automatically calculates Contract End Date when Start Date is set for Contract B candidates. Sets end date to Start Date + 4 months.</description>
    <environments>Default</environments>
    <interviewLabel>Calculate Contract End Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calculate Contract End Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Contract_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract B</stringValue>
            </value>
        </filters>
        <object>Candidate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <decisions>
        <name>Check_Contract_Type</name>
        <label>Check Contract Type</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Not Contract B</defaultConnectorLabel>
        <rules>
            <name>Is_Contract_B</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract B</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_End_Date_Needs_Update</targetReference>
            </connector>
            <label>Is Contract B</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_End_Date_Needs_Update</name>
        <label>Check If End Date Needs Update</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>End Date Already Set</defaultConnectorLabel>
        <rules>
            <name>End_Date_Empty_Or_Start_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Start_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_End_Date</targetReference>
            </connector>
            <label>End Date Empty Or Start Changed</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula_ContractEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Record.Start_Date__c}, 4)</expression>
    </formulas>
    <assignments>
        <name>Set_Contract_End_Date</name>
        <label>Set Contract End Date</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>$Record.Contract_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ContractEndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contract_Outcome__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <status>Active</status>
</Flow>
