force-app/main/default/flows/Create_Case_with_Enhanced_Data.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Calls an action to create a Case description based on a messaging session transcript.</description>
        <name>CreateCaseDescriptionFromMessagingTranscript</name>
        <label>Create Case Description From Messaging Transcript</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <actionName>SvcCopilotTmpl__caseDescriptionFromTranscript</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>GenerateCaseSubjectFromChatTranscript</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:ChatTranscript</name>
            <value>
                <elementReference>GetConversationTranscript.conversationTranscript</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SvcCopilotTmpl__caseDescriptionFromTranscript</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>caseDescription</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to create a Case subject based on a messaging session transcript.</description>
        <name>GenerateCaseSubjectFromChatTranscript</name>
        <label>Create Case Subject From Messaging Transcript</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <actionName>SvcCopilotTmpl__caseSubjectFromTranscript</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>CreateCaseRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:ChatTranscript</name>
            <value>
                <elementReference>GetConversationTranscript.conversationTranscript</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SvcCopilotTmpl__caseSubjectFromTranscript</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>caseSubject</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <description>Calls an action to get the conversation transcript associated with the messaging session passed into the flow as part of the Agent action input.  Stores the results in the GetConversationTranscript outputs.</description>
        <name>GetConversationTranscript</name>
        <label>Get Conversation Transcript</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <actionName>getConvTscpForRecord</actionName>
        <actionType>getConvTscpForRecord</actionType>
        <connector>
            <targetReference>CreateCaseDescriptionFromMessagingTranscript</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>messagingSessionID</elementReference>
            </value>
        </inputParameters>
        <nameSegment>getConvTscpForRecord</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Determines whether the messaging session customer has an associated Contact record.</description>
        <name>DoesContactExist</name>
        <label>Does Contact Exist?</label>
        <locationX>468</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>ContactExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetMessagingSession</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the messaging session exists.</description>
        <name>DoesMessagingSessionExist</name>
        <label>Does Messaging Session Exist?</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>CreateCaseRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>MessagingSessionExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMessagingSession</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetConversationTranscript</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Determines whether the messaging session exists.</description>
        <name>DoesMessagingSessionExist1</name>
        <label>Does Messaging Session Exist?</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>GetCase</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No (Default)</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetMessagingSession</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetMessagingSession</leftValueReference>
                <operator>HasError</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddMessagingConversationToCase</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Case with Enhanced Data {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Case with Enhanced Data</label>
    <overriddenFlow>SvcCopilotTmpl__CreateCaseEnhancedData</overriddenFlow>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Case record and updates the Contact ID, Description, and other Case fields based on values passed into the flow.</description>
        <name>CreateCaseRecord</name>
        <label>Create Case Record</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <connector>
            <targetReference>DoesMessagingSessionExist1</targetReference>
        </connector>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>verifiedCustomerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>caseDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Web</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>caseSubject</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Gets the Case ID of the newly created case and displays it to the user.</description>
        <name>GetCase</name>
        <label>Get Case</label>
        <locationX>182</locationX>
        <locationY>1382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CreateCaseRecord</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>caseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>Description</queriedFields>
        <queriedFields>ContactEmail</queriedFields>
        <queriedFields>CreatedDate</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>CaseNumber</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Gets the Contact record of the messaging session user based on the verified customer ID.</description>
        <name>GetContact</name>
        <label>Get Contact</label>
        <locationX>468</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesContactExist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>verifiedCustomerID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Agents_Staff__c</queriedFields>
        <queriedFields>ALC__c</queriedFields>
        <queriedFields>Candidate__c</queriedFields>
        <queriedFields>Id</queriedFields>
        <queriedFields>Encrypted_Device__c</queriedFields>
        <queriedFields>Financialguide_Email__c</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>MM_ID__c</queriedFields>
        <queriedFields>MobilePhone</queriedFields>
        <queriedFields>Nickname__c</queriedFields>
        <queriedFields>Sex__c</queriedFields>
        <queriedFields>Vanity_Email__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Gets the messaging session record based on the MessagingSessionId.</description>
        <name>GetMessagingSession</name>
        <label>Get Messaging Session</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DoesMessagingSessionExist</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>CreateCaseRecord</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingSessionID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>MessagingSession</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Attaches the messaging session to the case.</description>
        <name>AddMessagingConversationToCase</name>
        <label>Add Messaging Conversation to Case</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>GetCase</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>messagingSessionID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CaseId</field>
            <value>
                <elementReference>CreateCaseRecord</elementReference>
            </value>
        </inputAssignments>
        <object>MessagingSession</object>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetContact</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores the details of the user issue to be used for the case.</description>
        <name>caseDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>The Case record created by the flow.</description>
        <name>caseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Stores the subject of the case to create.</description>
        <name>caseSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the Messaging Session ID from the messaging conversation between a bot or AI Agent and a customer.</description>
        <name>messagingSessionID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Stores the verified Customer ID to use when creating the case record.</description>
        <name>verifiedCustomerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
