force-app/main/default/flows/Device_Encryption_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>create from computer management</description>
        <name>Create_ATS_Admin_Account</name>
        <label>Create ATS Admin Account</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>User_Name_is_compliant_AA_or_AE</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Create ATS Admin Account</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Enroll User in Workspace One- getwsone.com</description>
        <name>Enroll_User_in_Workspace_One</name>
        <label>Enroll User in Workspace One</label>
        <locationX>182</locationX>
        <locationY>890</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Install_Adobe_Reader</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Enroll User in Workspace One</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Install Adobe Reader from WS One App</description>
        <name>Install_Adobe_Reader</name>
        <label>Install Adobe Reader</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Install_Quick_Assist</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Removable Storage Encryption Enabled</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>create from computer management</description>
        <name>Install_and_Launch_One_Drive_from_Okta</name>
        <label>Install and Launch One Drive from Okta</label>
        <locationX>182</locationX>
        <locationY>1862</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Install_Calling_Card_from_LogMeInRescue_Console</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Install and Set up Teams from WS One App</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Install and set up Teams from WS One App</description>
        <name>Install_and_set_up_Teams_from_WS_One_App</name>
        <label>Install and set up Teams from WS One App</label>
        <locationX>182</locationX>
        <locationY>1754</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Install_and_Launch_One_Drive_from_Okta</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Install and set up Teams from WS One App</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Install Calling Card from LogMeInRescue Console</description>
        <name>Install_Calling_Card_from_LogMeInRescue_Console</name>
        <label>Install Calling Card from LogMeInRescue Console</label>
        <locationX>182</locationX>
        <locationY>1970</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Pin_and_Unpin_necessary_apps_to_task_bar</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Install Calling Card from LogMeInRescue Console</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>create from computer management</description>
        <name>Install_Global_Relay_App_from_Workspace_One</name>
        <label>Install Global Relay App from Workspace One</label>
        <locationX>182</locationX>
        <locationY>1322</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Sign_new_user_up_at_lastpass_com_massmutual_and_then_help_them_set_up_Last_Pass</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Install Global Relay App from Workspace One</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>From WS One App</description>
        <name>Install_Office_365</name>
        <label>Install Office 365</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Install_Global_Relay_App_from_Workspace_One</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Install Office 365 from WS One App</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>create from computer management</description>
        <name>Install_Outlook_Plugin_for_Zoom_from_WS_One_App</name>
        <label>Install Outlook Plugin for Zoom from WS One App</label>
        <locationX>182</locationX>
        <locationY>1646</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Install_and_set_up_Teams_from_WS_One_App</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Install Outlook Plugin for Zoom from WS One App</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Install Quick Assist from WS One App</description>
        <name>Install_Quick_Assist</name>
        <label>Install Quick Assist</label>
        <locationX>182</locationX>
        <locationY>1106</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Install_Office_365</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Install Quick Assist</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>create from computer management</description>
        <name>Install_Zoom_Meeting_Client_from_WS_One_App</name>
        <label>Install Zoom Meeting Client from WS One App</label>
        <locationX>182</locationX>
        <locationY>1538</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Install_Outlook_Plugin_for_Zoom_from_WS_One_App</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Install Zoom Meeting Client from WS One App</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Make_sure_no_other_Antivirus_is_installed_on_computer_before_installing_Symantec</name>
        <label>Make sure no other Antivirus is installed on computer before installing Symantec</label>
        <locationX>182</locationX>
        <locationY>782</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Enroll_User_in_Workspace_One</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Make sure no other Antivirus is installed on computer before installing Symantec</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Pin and Unpin necessary apps to task bar</description>
        <name>Pin_and_Unpin_necessary_apps_to_task_bar</name>
        <label>Pin and Unpin necessary apps to task bar</label>
        <locationX>182</locationX>
        <locationY>2078</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Schedule_PDS_Training</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Pin and Unpin necessary apps to task bar</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Redirect_to_created_record</name>
        <label>Redirect to created record</label>
        <locationX>182</locationX>
        <locationY>2702</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Redirect_Message</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buttonLabel</name>
            <value>
                <stringValue>Go To Record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>Request_Zoom_Phone</description>
        <name>Request_Zoom_Phone</name>
        <label>Schedule Office Phone Setup</label>
        <locationX>182</locationX>
        <locationY>2294</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Is_agency_A026</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Request Zoom Phone</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Schedule PDS Training</description>
        <name>Schedule_PDS_Training</name>
        <label>Schedule PDS Training</label>
        <locationX>182</locationX>
        <locationY>2186</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Request_Zoom_Phone</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Schedule PDS Training Use this link to schedule: https://calendly.com/a360-support/a360-orientation</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>to joyavedesian@financialguide.com, maryswenson@financialguide.com and nacolelight@financialguide.com after signature is set up in Outlook. THIS IS A MANDATORY STEP FOR A026!</description>
        <name>Set_up_Email_Signature_in_Outlook_and_Send_Test_Email</name>
        <label>Set up Email Signature in Outlook and Send Test Email</label>
        <locationX>50</locationX>
        <locationY>2510</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Redirect_to_created_record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>to joyavedesian@financialguide.com, maryswenson@financialguide.com and nacolelight@financialguide.com after signature is set up in Outlook. THIS IS A MANDATORY STEP FOR A026!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Sign new user up at lastpass.com/massmutual and then help them set up Last Pass</description>
        <name>Sign_new_user_up_at_lastpass_com_massmutual_and_then_help_them_set_up_Last_Pass</name>
        <label>Sign new user up at lastpass.com/massmutual and then help them set up Last Pass</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Install_Zoom_Meeting_Client_from_WS_One_App</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Sign new user up at lastpass.com/massmutual and then help them set up Last Pass. DO NOT SKIP THIS STEP!!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>create from computer management</description>
        <name>User_Name_is_compliant_AA_or_AE</name>
        <label>User Name is compliant? (AA or AE#)</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Make_sure_no_other_Antivirus_is_installed_on_computer_before_installing_Symantec</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>RecordIdVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>User Name is compliant? (AA or AE#)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_UserId_Variable</name>
        <label>Assign UserId Variable</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>UserIdVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Encryption_Log_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A007</name>
        <choiceText>A007</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A007</stringValue>
        </value>
    </choices>
    <choices>
        <name>A026</name>
        <choiceText>A026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A026</stringValue>
        </value>
    </choices>
    <choices>
        <name>A157</name>
        <choiceText>A157</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A157</stringValue>
        </value>
    </choices>
    <choices>
        <name>A255</name>
        <choiceText>A255</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A255</stringValue>
        </value>
    </choices>
    <choices>
        <name>AG</name>
        <choiceText>AG</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AG</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bitlocker</name>
        <choiceText>Bitlocker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bitlocker</stringValue>
        </value>
    </choices>
    <choices>
        <name>Crowdstrike</name>
        <choiceText>Crowdstrike</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Crowdstrike</stringValue>
        </value>
    </choices>
    <choices>
        <name>DD</name>
        <choiceText>DD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DD</stringValue>
        </value>
    </choices>
    <choices>
        <name>FileVault</name>
        <choiceText>FileVault</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FileVault</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mac</name>
        <choiceText>Mac</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mac</stringValue>
        </value>
    </choices>
    <choices>
        <description>macOS 15 Sequoia</description>
        <name>macOS15Sequoia</name>
        <choiceText>macOS 15 Sequoia</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>MacOS_Big_Sur</name>
        <choiceText>MacOS Big Sur</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MacOS Big Sur</stringValue>
        </value>
    </choices>
    <choices>
        <name>MacOS_Monterey</name>
        <choiceText>MacOS Monterey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MacOS Monterey</stringValue>
        </value>
    </choices>
    <choices>
        <name>MacOS_Sonoma</name>
        <choiceText>MacOS Sonoma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MacOS Sonoma</stringValue>
        </value>
    </choices>
    <choices>
        <name>MacOS_Ventura</name>
        <choiceText>MacOS Ventura</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MacOS Ventura</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>PB</name>
        <choiceText>PB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PB</stringValue>
        </value>
    </choices>
    <choices>
        <name>PC</name>
        <choiceText>PC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Windows</name>
        <choiceText>Windows</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Windows</stringValue>
        </value>
    </choices>
    <choices>
        <name>Windows_10_Pro</name>
        <choiceText>Windows 10 Pro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Windows 10 Pro</stringValue>
        </value>
    </choices>
    <choices>
        <name>Windows_11_Pro</name>
        <choiceText>Windows 11 Pro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Windows 11 Pro</stringValue>
        </value>
    </choices>
    <choices>
        <name>X16GB</name>
        <choiceText>16GB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>16GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>X32GB</name>
        <choiceText>32GB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>32GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4GB</name>
        <choiceText>4GB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>X64GB</name>
        <choiceText>64GB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>64GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>X80GB</name>
        <choiceText>80GB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>80GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>X8GB</name>
        <choiceText>8GB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Is_agency_A026</name>
        <label>Is agency A026</label>
        <locationX>182</locationX>
        <locationY>2402</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_created_record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_A026</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EncryptedDeviceRecordVar.Agency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>A026</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_up_Email_Signature_in_Outlook_and_Send_Test_Email</targetReference>
            </connector>
            <label>Yes A026</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DeviceOS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Operating_System__c</picklistField>
        <picklistObject>Encrypted_Device__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>UserIdFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>Device Encryption Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Device Encryption Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create Encryption Log Record</description>
        <name>Create_Encryption_Log_Record</name>
        <label>Create Encryption Log Record</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>RecordIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>Create_ATS_Admin_Account</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency_Owned__c</field>
            <value>
                <elementReference>Agency_Owned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Agency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Antivirus_Protection__c</field>
            <value>
                <elementReference>Antivirus_Protection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Model__c</field>
            <value>
                <elementReference>Device_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Status__c</field>
            <value>
                <stringValue>In Use</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Type__c</field>
            <value>
                <elementReference>Device_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Encryption_Date__c</field>
            <value>
                <elementReference>Encryption_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Encryption_Version__c</field>
            <value>
                <elementReference>Encryption_Version</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MM_ID__c</field>
            <value>
                <elementReference>MM_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Device_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operating_System__c</field>
            <value>
                <elementReference>Device_OS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>UserIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RAM__c</field>
            <value>
                <elementReference>RAM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number_or_Service_Tag__c</field>
            <value>
                <elementReference>Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Encrypted_Device__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_User_Record</name>
        <label>Get User Record</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_UserId_Variable</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIdFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Device_Encryption_ScreenFlow</name>
        <label>Encrypt A Device</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_User_Record</targetReference>
        </connector>
        <fields>
            <name>LookupAS</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Agents_Staff__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Agents/Staff Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Agents_Staff__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Name</name>
            <extensionName>flowruntime:name</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agency</name>
            <choiceReferences>A007</choiceReferences>
            <choiceReferences>A157</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Agency</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Device_Type</name>
            <choiceReferences>PC</choiceReferences>
            <choiceReferences>Mac</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Device Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MM_ID</name>
            <dataType>String</dataType>
            <fieldText>MM ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Device_Name</name>
            <dataType>String</dataType>
            <fieldText>Device Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;MMID-LT for Laptop, DT for Desktop, or Mac for Mac.&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agency_Owned</name>
            <dataType>Boolean</dataType>
            <fieldText>Agency Owned?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Antivirus_Protection</name>
            <choiceReferences>Crowdstrike</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Crowdstrike</defaultSelectedChoiceReference>
            <fieldText>Antivirus Protection</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Brand</name>
            <dataType>String</dataType>
            <fieldText>Brand</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Device_Model</name>
            <dataType>String</dataType>
            <fieldText>Device Model</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RAM</name>
            <choiceReferences>X4GB</choiceReferences>
            <choiceReferences>X8GB</choiceReferences>
            <choiceReferences>X16GB</choiceReferences>
            <choiceReferences>X32GB</choiceReferences>
            <choiceReferences>X64GB</choiceReferences>
            <choiceReferences>X80GB</choiceReferences>
            <dataType>String</dataType>
            <fieldText>RAM</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Device_OS</name>
            <choiceReferences>DeviceOS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Device OS</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Encryption_Version</name>
            <choiceReferences>FileVault</choiceReferences>
            <choiceReferences>Bitlocker</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Encryption Version</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Encryption_Date</name>
            <dataType>Date</dataType>
            <fieldText>Encryption Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Validated_By</name>
            <choiceReferences>PB</choiceReferences>
            <choiceReferences>DD</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Validated By</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Has_Agent_Staff_already_been_assigned_a_Global_Relay_number</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has Agent/Staff already been assigned a Global Relay number?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RequestGlobalRelayNumber</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <stringValue>https://massmutual.service-now.com/esc?id=sc_cat_item&amp;sys_id=9ef6e8d41baee1546530edf3604bcb0a</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Has_Agent_Staff_already_been_assigned_a_Global_Relay_number</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>No</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Add Device</nextOrFinishButtonLabel>
        <pauseButtonLabel>Finish Later</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Redirect_Message</name>
        <label>Redirect Message</label>
        <locationX>182</locationX>
        <locationY>2810</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DeviceAdded</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Device Added. Redirecting to newly created record.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Device_Encryption_ScreenFlow</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>EncryptedDeviceRecordVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Encrypted_Device__c</objectType>
    </variables>
    <variables>
        <name>RecordIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
