force-app/main/default/flows/Encrypt_A_New_Device.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>A007</name>
        <choiceText>A007</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A007</stringValue>
        </value>
    </choices>
    <choices>
        <name>A026</name>
        <choiceText>A026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A026</stringValue>
        </value>
    </choices>
    <choices>
        <name>A157</name>
        <choiceText>A157</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A157</stringValue>
        </value>
    </choices>
    <choices>
        <name>A255</name>
        <choiceText>A255</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A255</stringValue>
        </value>
    </choices>
    <choices>
        <name>AG</name>
        <choiceText>AG</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>AG</stringValue>
        </value>
    </choices>
    <choices>
        <name>BitLocker</name>
        <choiceText>BitLocker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BitLocker</stringValue>
        </value>
    </choices>
    <choices>
        <name>CrowdStrike</name>
        <choiceText>CrowdStrike</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CrowdStrike</stringValue>
        </value>
    </choices>
    <choices>
        <name>DD</name>
        <choiceText>DD</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>DD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Existing_User_Encrypting_New_Device</name>
        <choiceText>Existing User Encrypting New Device</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Existing User Encrypting New Device</stringValue>
        </value>
    </choices>
    <choices>
        <name>FileVault</name>
        <choiceText>FileVault</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>FileVault</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Use</name>
        <choiceText>In Use</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Use</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mac</name>
        <choiceText>Mac</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mac</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mac_OS_Sequoia</name>
        <choiceText>Mac OS Sequoia</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Mac OS Sequoia</stringValue>
        </value>
    </choices>
    <choices>
        <name>MacOS_Big_Sur</name>
        <choiceText>MacOS Big Sur</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MacOS Big Sur</stringValue>
        </value>
    </choices>
    <choices>
        <name>MacOS_Monterey</name>
        <choiceText>MacOS Monterey</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MacOS Monterey</stringValue>
        </value>
    </choices>
    <choices>
        <name>MacOS_Sonoma</name>
        <choiceText>MacOS Sonoma</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MacOS Sonoma</stringValue>
        </value>
    </choices>
    <choices>
        <name>MacOS_Ventura</name>
        <choiceText>MacOS Ventura</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MacOS Ventura</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_User_Onboarding</name>
        <choiceText>New User Onboarding</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New User Onboarding</stringValue>
        </value>
    </choices>
    <choices>
        <description>https://massmutual.service-now.com/esc?id=sc_cat_item&amp;sys_id=9ef6e8d41baee1546530edf3604bcb0a

Copy and paste the link into browser and fill out the form. DO NOT SKIP THIS STEP!!!</description>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>No_Registered_Device</name>
        <choiceText>No Registered Device</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No Registered Device</stringValue>
        </value>
    </choices>
    <choices>
        <name>Offboarded</name>
        <choiceText>Offboarded</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Offboarded</stringValue>
        </value>
    </choices>
    <choices>
        <name>PB</name>
        <choiceText>PB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PB</stringValue>
        </value>
    </choices>
    <choices>
        <name>PC</name>
        <choiceText>PC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>PC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retired</name>
        <choiceText>Retired</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retired</stringValue>
        </value>
    </choices>
    <choices>
        <name>Retired_Agency_Device</name>
        <choiceText>Retired Agency Device</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Retired Agency Device</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sequ</name>
        <choiceText>Sequ</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sequ</stringValue>
        </value>
    </choices>
    <choices>
        <name>Windows_10_Pro</name>
        <choiceText>Windows 10 Pro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Windows 10 Pro</stringValue>
        </value>
    </choices>
    <choices>
        <name>Windows_11_Pro</name>
        <choiceText>Windows 11 Pro</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Windows 11 Pro</stringValue>
        </value>
    </choices>
    <choices>
        <name>X12_GB</name>
        <choiceText>12 GB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>12 GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>X16_GB</name>
        <choiceText>16 GB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>16 GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>X32_GB</name>
        <choiceText>32 GB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>32 GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_GB</name>
        <choiceText>4 GB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4 GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>X64_GB</name>
        <choiceText>64 GB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>64 GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>X8_GB</name>
        <choiceText>8 GB</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8 GB</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>LinktoOnboarding2</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Full_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>Agents_Staff__c</object>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DeviceName</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!Get_Agent_Staff_Record.Agents_Staff__r.MM_ID__c}, &apos;-&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Encrypt A New Device {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Encrypt A New Device</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Encryption_Log_Record</name>
        <label>Create Encryption Log Record</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputAssignments>
            <field>Agency_Owned__c</field>
            <value>
                <elementReference>Agency_Owned</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Get_Agent_Staff_Record.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agents_Staff_Lookup__c</field>
            <value>
                <elementReference>AgentsStaffSelection.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Antivirus_Protection__c</field>
            <value>
                <elementReference>Antivirus_Protection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bitlocker_FileVault_Recovery_Key__c</field>
            <value>
                <elementReference>Bitlocker_FileVault_Encryption_Key</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactSelection.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Model__c</field>
            <value>
                <elementReference>Device_Model</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Status__c</field>
            <value>
                <elementReference>Device_Status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Type__c</field>
            <value>
                <elementReference>Device_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Encryption_Date__c</field>
            <value>
                <elementReference>Encryption_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Encryption_Version__c</field>
            <value>
                <elementReference>Encryption_Version</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Get_Agent_Staff_Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Get_Agent_Staff_Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MM_ID__c</field>
            <value>
                <elementReference>Get_Agent_Staff_Record.MM_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Device_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operating_System__c</field>
            <value>
                <elementReference>WindowsOS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RAM__c</field>
            <value>
                <elementReference>RAM</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Removable_Storage_Encryption_Enabled__c</field>
            <value>
                <elementReference>Remove_Other_Antivirus_Software</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Serial_Number_or_Service_Tag__c</field>
            <value>
                <elementReference>Serial_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Encrypted_Device__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Agent_Staff_Record</name>
        <label>Get Agent Staff Record</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Encryption_Log_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AgentsStaffSelection.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agents_Staff__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Agent_Staff_Lookup</name>
        <label>Agent  Staff Lookup</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Onboarding_Tasks</targetReference>
        </connector>
        <fields>
            <name>AgentsStaffSelection</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Agents_Staff__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Agents_Staff__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Agent/Staff Lookup</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contact_Selection_Screen</name>
        <label>Contact_Selection_Screen</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Agent_Staff_Lookup</targetReference>
        </connector>
        <fields>
            <name>ContactSelection</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact_Selection</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Device Onboarding Tasks</description>
        <name>Onboarding_Tasks</name>
        <label>Onboarding Form</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Agent_Staff_Record</targetReference>
        </connector>
        <fields>
            <name>Device_Onboarding_Tasks</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;Device Onboarding Tasks&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Device_Type</name>
            <choiceReferences>PC</choiceReferences>
            <choiceReferences>Mac</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Device Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Device_Name</name>
            <dataType>String</dataType>
            <fieldText>Device Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Serial_Number</name>
            <dataType>String</dataType>
            <fieldText>Serial Number</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>ATS_Admin_Account_Created</name>
            <dataType>Boolean</dataType>
            <fieldText>ATS Admin Account Created</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Remove_Other_Antivirus_Software</name>
            <dataType>Boolean</dataType>
            <fieldText>Remove Other Antivirus Software</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Enroll_User_in_Workspace_One</name>
            <dataType>Boolean</dataType>
            <fieldText>Enroll User in Workspace One</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agency_Owned</name>
            <dataType>Boolean</dataType>
            <fieldText>Agency Owned?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Antivirus_Protection</name>
            <choiceReferences>CrowdStrike</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Antivirus Protection</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Brand</name>
            <dataType>String</dataType>
            <fieldText>Brand</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Device_Model</name>
            <dataType>String</dataType>
            <fieldText>Device Model</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>RAM</name>
            <choiceReferences>X4_GB</choiceReferences>
            <choiceReferences>X8_GB</choiceReferences>
            <choiceReferences>X12_GB</choiceReferences>
            <choiceReferences>X16_GB</choiceReferences>
            <choiceReferences>X32_GB</choiceReferences>
            <choiceReferences>X64_GB</choiceReferences>
            <dataType>String</dataType>
            <fieldText>RAM</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>WindowsOS</name>
            <choiceReferences>Windows_10_Pro</choiceReferences>
            <choiceReferences>Windows_11_Pro</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Windows OS</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Device_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PC</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Mac_OS</name>
            <choiceReferences>MacOS_Sonoma</choiceReferences>
            <choiceReferences>MacOS_Ventura</choiceReferences>
            <choiceReferences>Mac_OS_Sequoia</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mac OS</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Device_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Mac</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Encryption_Version</name>
            <choiceReferences>BitLocker</choiceReferences>
            <choiceReferences>FileVault</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Encryption Version</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Bitlocker_FileVault_Encryption_Key</name>
            <dataType>String</dataType>
            <fieldText>Bitlocker_FileVault_Encryption_Key</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Device_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>PC</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Removable_Storage_Encryption_Enabled_Y_N</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Removable Storage Encryption Enabled (Y/N)</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;From the Start menu, type gpedit.msc and then open Group Policy Editor as Admin. Navigate to Computer Configuration &amp;gt; Administrative Templates &amp;gt; Windows&amp;nbsp;&lt;/p&gt;&lt;p&gt;Components.&amp;nbsp;&lt;/p&gt;&lt;p&gt;B Click BitLocker Drive Encryption folder. NOTE: Do not expand the folder.&lt;/p&gt;&lt;p&gt;C Double-click Choose drive encryption method and cipher strength (Windows&amp;nbsp;&lt;/p&gt;&lt;p&gt;10[Version 1511] and later). Select Enable.&lt;/p&gt;&lt;p&gt;E In the Options section, change all three dropdowns to XTS-AES-256-bit.&amp;nbsp;&lt;/p&gt;&lt;p&gt;F Click Apply, and then click OK.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Navigate to Computer Configuration &amp;gt; Administrative Templates &amp;gt; Windows&amp;nbsp;&lt;/p&gt;&lt;p&gt;Components &amp;gt; BitLocker Drive Encryption &amp;gt; Fixed Data Drives.&lt;/p&gt;&lt;p&gt;B Double-click Deny write access to fixed driver not protected by BitLocker.&lt;/p&gt;&lt;p&gt;5. On the next screen, complete the steps in the chart below:&lt;/p&gt;&lt;p&gt;C Select Enabled.&lt;/p&gt;&lt;p&gt;D Click Apply, and then click OK. Navigate to Computer Configuration &amp;gt; Administrative Templates &amp;gt; Windows&amp;nbsp;&lt;/p&gt;&lt;p&gt;Components &amp;gt; BitLocker Drive Encryption &amp;gt; Removable Data Drives.&lt;/p&gt;&lt;p&gt;B Double-click Configure use of passwords for removable data drives.&lt;/p&gt;&lt;p&gt;7. On the next screen, complete the steps in the chart below:&lt;/p&gt;&lt;p&gt;C Select Enabled.&lt;/p&gt;&lt;p&gt;D Check the box Require password for removable data drive.&lt;/p&gt;&lt;p&gt;E Select Allow Password Complexity and set the Minimum password&amp;nbsp;&lt;/p&gt;&lt;p&gt;length for removable data drive to 8.&amp;nbsp;&lt;/p&gt;&lt;p&gt;F Click Apply, and then click OK&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Encryption_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Encryption_Date</elementReference>
            </defaultValue>
            <fieldText>Encryption Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Validated_By</name>
            <choiceReferences>PB</choiceReferences>
            <choiceReferences>DD</choiceReferences>
            <choiceReferences>AG</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Validated By</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Device_Status</name>
            <choiceReferences>In_Use</choiceReferences>
            <choiceReferences>Offboarded</choiceReferences>
            <choiceReferences>No_Registered_Device</choiceReferences>
            <choiceReferences>Retired_Agency_Device</choiceReferences>
            <choiceReferences>Retired</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>In_Use</defaultSelectedChoiceReference>
            <fieldText>Device Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Calling_Card_Installed</name>
            <dataType>Boolean</dataType>
            <fieldText>Calling Card Installed</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(0, 0, 0);&quot;&gt;Install from Logmein Rescue  console&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Signed_up_for_free_Airtable_via_Capstone_Referral_Link</name>
            <dataType>Boolean</dataType>
            <fieldText>Signed up for free Airtable via Capstone Referral Link?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Use this link to sign new user up and then confirm using their Outlook. DO NOT SKIP THIS STEP!!&lt;/p&gt;&lt;p&gt;https://airtable.com/invite/r/HRcM46ll&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Signed_Up_for_Last_Pass</name>
            <dataType>Boolean</dataType>
            <fieldText>Signed Up for Last Pass?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Sign new user up at lastpass.com/massmutual and then help them set up Last Pass. DO NOT SKIP THIS STEP!!&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>OneDrive_Installed_Correctly</name>
            <dataType>Boolean</dataType>
            <fieldText>OneDrive Installed Correctly?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgba(31, 41, 55, 0.5);&quot;&gt;Launch from One Drive in Okta&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Install_Adobe_Reader</name>
            <dataType>Boolean</dataType>
            <fieldText>Install Adobe Reader</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Install from WS One App&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Install_Quick_Assist</name>
            <dataType>Boolean</dataType>
            <fieldText>Install Quick Assist</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Install from WS One App&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Install_Office_365</name>
            <dataType>Boolean</dataType>
            <fieldText>Install Office 365</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Install from WS One App&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Install_Global_Relay</name>
            <dataType>Boolean</dataType>
            <fieldText>Install Global Relay</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Install from WS One App&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Zoom_Meeting_Client_Installed</name>
            <dataType>Boolean</dataType>
            <fieldText>Zoom Meeting Client Installed</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Install from WS One App&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Outlook_Plugin_for_Zoom_Installed</name>
            <dataType>Boolean</dataType>
            <fieldText>Outlook Plugin for Zoom Installed?</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(68, 68, 68);&quot;&gt;Install from WS One App&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Install_and_set_up_Teams</name>
            <dataType>Boolean</dataType>
            <fieldText>Install and set up Teams</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Install from WS One App&lt;/span&gt;&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Pin_and_Unpin_necessary_apps_to_task_bar</name>
            <dataType>Boolean</dataType>
            <fieldText>Pin and Unpin necessary apps to task bar</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Has_Agent_Staff_already_been_assigned_a_Global_Relay_number</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Has Agent/Staff already been assigned a Global Relay number?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <helpText>&lt;p&gt;&lt;u&gt;Global Relay Request&lt;/u&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;https://massmutual.service-now.com/esc?id=sc_cat_item&amp;amp;sys_id=9ef6e8d41baee1546530edf3604bcb0a&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Copy and paste the link into browser and fill out the form. DO NOT SKIP THIS STEP!!!!&lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes</name>
            <fieldText>Notes</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact_Selection_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FullName</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Agents_Staff__c</objectType>
    </variables>
</Flow>
