force-app/main/default/flows/Interview_48hr_Reminders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_48hr_Reminder_Email</name>
        <label>Send 48hr Reminder Email</label>
        <locationX>270</locationX>
        <locationY>431</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Log_Reminder_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ReminderEmailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>Loop_Interviews.Candidate__r.Email__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Interview Reminder - Please Confirm Your Attendance</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>noreply@financialguide.com</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <decisions>
        <name>Check_If_48_Hours_Away</name>
        <label>Check If 48 Hours Away</label>
        <locationX>402</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_48_to_49_Hours_Away</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HoursUntilInterview</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>48.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HoursUntilInterview</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>72.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Interviews.Reminder_48hr_Sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Interviews.Candidate__r.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_48hr_Reminder_Email</targetReference>
            </connector>
            <label>Is 48 to 72 Hours Away</label>
        </rules>
    </decisions>
    <description>Sends email reminders to candidates 48 hours before their scheduled interview asking them to confirm attendance</description>
    <environments>Default</environments>
    <formulas>
        <name>ConfirmationURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Enterprise_Server_URL_260, FIND( '/services', $Api.Enterprise_Server_URL_260)) &amp; 'flow/Confirm_Interview_Attendance?InterviewId=' &amp; {!Loop_Interviews.Id}</expression>
    </formulas>
    <formulas>
        <name>HoursUntilInterview</name>
        <dataType>Number</dataType>
        <expression>(DATETIMEVALUE({!Loop_Interviews.Date_Time_Scheduled__c}) - NOW()) * 24</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Interview 48hr Reminders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Interview 48hr Reminders</label>
    <loops>
        <name>Loop_Interviews</name>
        <label>Loop Interviews</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <collectionReference>Get_Upcoming_Interviews</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_If_48_Hours_Away</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Log_Reminder_Email</name>
        <label>Log Reminder Email</label>
        <locationX>270</locationX>
        <locationY>539</locationY>
        <connector>
            <targetReference>Update_Reminder_Sent_Flag</targetReference>
        </connector>
        <inputAssignments>
            <field>MessageDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>Loop_Interviews.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Interview Reminder - Please Confirm Your Attendance</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TextBody</field>
            <value>
                <elementReference>ReminderEmailBody</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>Loop_Interviews.Candidate__r.Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Upcoming_Interviews</name>
        <label>Get Upcoming Interviews</label>
        <locationX>176</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Interviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Date_Time_Scheduled__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interview_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Interview_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Interview__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Reminder_Sent_Flag</name>
        <label>Update Reminder Sent Flag</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Loop_Interviews</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Interviews.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reminder_48hr_Sent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Interview__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Upcoming_Interviews</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-12-10</startDate>
            <startTime>09:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ReminderEmailBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Dear {!Loop_Interviews.Candidate__r.First_Name__c},&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;This is a friendly reminder about your upcoming interview with MassMutual Financial Group.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Interview Details:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Date &amp;amp; Time:&lt;/strong&gt; {!Loop_Interviews.Date_Time_Scheduled__c}&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Interview Type:&lt;/strong&gt; {!Loop_Interviews.Interview_Type__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;📌 PLEASE CONFIRM YOUR ATTENDANCE&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Click the link below to confirm you will be attending:&lt;/p&gt;&lt;p&gt;&lt;a href=&quot;{!ConfirmationURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Confirm My Attendance&lt;/a&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Or copy and paste this link into your browser:&lt;/p&gt;&lt;p&gt;{!ConfirmationURL}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;If you need to reschedule or have any questions, please contact us as soon as possible.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;We look forward to speaking with you!&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Best regards,&lt;/p&gt;&lt;p&gt;MassMutual Recruiting Team&lt;/p&gt;</text>
    </textTemplates>
</Flow>
