force-app/main/default/flows/Latest_Opportunity_Notes_Scheduled_Daily_at_11AM_Pacific.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_First_ContentDocumentLink</name>
        <label>Assign First_ContentDocumentLink</label>
        <locationX>352</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>First_ContentDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_COntent</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exit_After_Record_First_Record</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Sort_ContentDocumentLinks</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort ContentDocumentLinks</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Related_ContentDocumentLink_Records</collectionReference>
        <connector>
            <targetReference>Loop_Through_COntent</targetReference>
        </connector>
        <limit>2</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>SystemModstamp</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Exit_After_Record_First_Record</name>
        <label>Exit After Record First Record?</label>
        <locationX>352</locationX>
        <locationY>684</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>1</conditionLogic>
            <conditions>
                <leftValueReference>One</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_COntent</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>AI Generated flow for a Scheduled Flow:

Runs daily or hourly.

Object: Opportunity

Get related ContentDocumentLinks...</description>
    <environments>Default</environments>
    <interviewLabel>AI Generated Flow for a Scheduled Flow:

Runs daily or hourly.

Object: Opportunity

Get related ContentDocumentLinks...</interviewLabel>
    <label>Latest Opportunity Notes Scheduled Daily at 11AM Pacific</label>
    <loops>
        <name>Loop_Through_COntent</name>
        <label>Loop Through COntent</label>
        <locationX>176</locationX>
        <locationY>468</locationY>
        <collectionReference>Get_Related_ContentDocumentLink_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_First_ContentDocumentLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ContentDocument</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>GptId</name>
        <value>
            <stringValue>691858e9-3890-49b8-a49b-a6e2a952ae3a</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>GptLlmIds</name>
        <value>
            <stringValue>[&quot;97e09dea-5cb3-4af0-9706-a0728050aeff&quot;,&quot;2d289afb-7910-4c20-a95a-9a52cb56407e&quot;,&quot;90d02538-ab24-4453-8ec3-3edcd99727df&quot;]</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ContentDocument</name>
        <label>Get ContentDocument</label>
        <locationX>176</locationX>
        <locationY>1068</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ContentNote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_ContentDocumentLink.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentNote</name>
        <label>Get ContentNote</label>
        <locationX>176</locationX>
        <locationY>1176</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Related_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ContentDocument.Id</elementReference>
            </value>
        </filters>
        <object>ContentNote</object>
        <outputAssignments>
            <assignToReference>NoteText</assignToReference>
            <field>Content</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NoteTitle</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_ContentDocumentLink_Records</name>
        <label>Get Related ContentDocumentLink Records</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Sort_ContentDocumentLinks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_Opportunity</name>
        <label>Update Related Opportunity</label>
        <locationX>176</locationX>
        <locationY>1284</locationY>
        <inputAssignments>
            <field>Latest_Note_Body__c</field>
            <value>
                <elementReference>NoteText</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Note_Title__c</field>
            <value>
                <elementReference>NoteTitle</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_ContentDocumentLink_Records</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>EqualTo</operator>
            <value>
                <dateTimeValue>2025-04-11T06:00:00.000Z</dateTimeValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-10</startDate>
            <startTime>11:30:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>emailAddresses</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NoteText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NoteTitle</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>One</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
