force-app/main/default/flows/Link_ALC_and_Candidate_to_New_IEP_Application.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>ALCRecordNameFormula</name>
        <dataType>String</dataType>
        <expression>$Record.First_Name__c &amp; &quot; &quot; &amp; $Record.Last_Name__c</expression>
    </formulas>
    <formulas>
        <name>CandidateNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.First_Name__c} &amp;&quot; &quot;&amp; {!$Record.Last_Name__c}</expression>
    </formulas>
    <interviewLabel>Link ALC and Candidate to New IEP Application {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Link ALC and Candidate to New IEP Application</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ALC_Record</name>
        <label>Create ALC Record</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignRecordIdToReference>ALCRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Link_to_ALC_records</targetReference>
        </connector>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>Get_Candidate_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employed_at_Insurance_Brokerage_in_las__c</field>
            <value>
                <elementReference>$Record.Worked_at_Insurance_last_2_yrs__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LADL_Sales_Experience__c</field>
            <value>
                <elementReference>$Record.LAD_LTC_sales_experience__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Life_Insurance_Licensed__c</field>
            <value>
                <elementReference>$Record.Is_candidate_life_licensed__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>$Record.Phone__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>ALCRecordNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>New_Recruit_Application__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office__c</field>
            <value>
                <elementReference>$Record.Office_Location_not_agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email_Address__c</field>
            <value>
                <elementReference>$Record.Personal_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <stringValue>Agent</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <elementReference>$Record.Sales_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>To do</stringValue>
            </value>
        </inputAssignments>
        <object>ALC__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate_Record</name>
        <label>Get Candidate Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Recruit_Application</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>personal_email_formula__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recruit_Application.Email_Address__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recruit_Application.First_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recruit_Application.Last_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Recruit_Application</name>
        <label>Get Recruit Application</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_ALC_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Job_Application__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Link_to_ALC_records</name>
        <label>Link to ALC and record</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Update_Applicant_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Recruit_Application.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ALC__c</field>
            <value>
                <elementReference>ALCRecordId</elementReference>
            </value>
        </inputAssignments>
        <object>Job_Application__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Applicant_Name</name>
        <label>Update Applicant Name</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CandidateNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Candidate_Record</targetReference>
        </connector>
        <object>Job_Application__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ALCRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
