force-app/main/default/flows/Megan_s_Task_Screen_FLow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>A157</name>
        <choiceText>A157</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>A157Account</elementReference>
        </value>
    </choices>
    <choices>
        <description>April</description>
        <name>April</name>
        <choiceText>April</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>August</description>
        <name>August</name>
        <choiceText>August</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CurrentUserChoice</name>
        <choiceText>Yourself</choiceText>
        <dataType>String</dataType>
        <userInput>
            <isRequired>false</isRequired>
            <promptText>Yourself</promptText>
        </userInput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </choices>
    <choices>
        <description>Daily recurrence</description>
        <name>Daily</name>
        <choiceText>Daily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecursDaily</stringValue>
        </value>
    </choices>
    <choices>
        <description>December</description>
        <name>December</name>
        <choiceText>December</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>12.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>February</description>
        <name>February</name>
        <choiceText>February</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>February</description>
        <name>FebruaryMonth</name>
        <choiceText>February</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>February</elementReference>
        </value>
    </choices>
    <choices>
        <description>Friday</description>
        <name>Friday</name>
        <choiceText>Friday</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>January</name>
        <choiceText>January</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>January</description>
        <name>JanuaryMonth</name>
        <choiceText>January</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>January</stringValue>
        </value>
    </choices>
    <choices>
        <description>July</description>
        <name>July</name>
        <choiceText>July</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>June</description>
        <name>June</name>
        <choiceText>June</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>March</description>
        <name>March</name>
        <choiceText>March</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>March</description>
        <name>MarchChoice</name>
        <choiceText>March</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>March</elementReference>
        </value>
    </choices>
    <choices>
        <description>May</description>
        <name>May</name>
        <choiceText>May</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>Monday</description>
        <name>Monday</name>
        <choiceText>Monday</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>NeilieChoice</name>
        <choiceText>Neilie</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0055f00000DoG8v</stringValue>
        </value>
    </choices>
    <choices>
        <description>November</description>
        <name>November</name>
        <choiceText>November</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>11.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>October</description>
        <name>October</name>
        <choiceText>October</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>RecursDaily</name>
        <choiceText>RecursDaily</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecursDaily</stringValue>
        </value>
    </choices>
    <choices>
        <description>RecursMonthly</description>
        <name>RecursMonthly</name>
        <choiceText>RecursMonthly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecursMonthly</stringValue>
        </value>
    </choices>
    <choices>
        <description>RecursWeekly</description>
        <name>RecursWeekly</name>
        <choiceText>RecursWeekly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecursWeekly</stringValue>
        </value>
    </choices>
    <choices>
        <description>RecursYearly</description>
        <name>RecursYearly</name>
        <choiceText>RecursYearly</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>RecursYearly</stringValue>
        </value>
    </choices>
    <choices>
        <description>Saturday</description>
        <name>Saturday</name>
        <choiceText>Saturday</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>September</description>
        <name>September</name>
        <choiceText>September</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>9.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>Sunday</description>
        <name>Sunday</name>
        <choiceText>Sunday</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>Thursday</description>
        <name>Thursday</name>
        <choiceText>Thursday</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>Tuesday</description>
        <name>Tuesday</name>
        <choiceText>Tuesday</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <description>Wednesday</description>
        <name>Wednesday</name>
        <choiceText>Wednesday</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <constants>
        <name>Agency157</name>
        <dataType>String</dataType>
        <value>
            <stringValue>0015f00002Jje9yAAB</stringValue>
        </value>
    </constants>
    <decisions>
        <description>Is the task going to be recurring?</description>
        <name>Is_Recurring</name>
        <label>Is Recurring?</label>
        <locationX>776</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Create_Task_not_recurring</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsrRecurring</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurrence_Interval</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Recurrence_Interval</name>
        <label>Recurrence Interval</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>WeeklyRecurrence</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recurrence_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecursWeekly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurs_Weekly</targetReference>
            </connector>
            <label>Weekly</label>
        </rules>
        <rules>
            <name>Monthly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recurrence_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecursMonthly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurs_Monthly</targetReference>
            </connector>
            <label>Monthly</label>
        </rules>
        <rules>
            <name>Yearly</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Recurrence_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>RecursYearly</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Recurs_Yearly</targetReference>
            </connector>
            <label>Yearly</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>recurrencechoicesetvar</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RecurrenceType</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecurrenceIntervalChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RecurrenceType</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecurrenceTypeChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RecurrenceType</picklistField>
        <picklistObject>Task</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DefaultDayOfMonth</name>
        <dataType>Number</dataType>
        <expression>DAY({!Due_Date})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>DefaultMonthOfYear</name>
        <dataType>String</dataType>
        <expression>CASE(
    MONTH({!Due_Date}),
    1, &quot;January&quot;,
    2, &quot;February&quot;,
    3, &quot;March&quot;,
    4, &quot;April&quot;,
    5, &quot;May&quot;,
    6, &quot;June&quot;,
    7, &quot;July&quot;,
    8, &quot;August&quot;,
    9, &quot;September&quot;,
    10, &quot;October&quot;,
    11, &quot;November&quot;,
    12, &quot;December&quot;,
    &quot;January&quot;
)</expression>
    </formulas>
    <formulas>
        <name>DefaultRecurrenceInterval</name>
        <dataType>Number</dataType>
        <expression>1</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>RecurrenceInterval</name>
        <dataType>Number</dataType>
        <expression>IF({!Recurrence_Type} = &quot;RecursDaily&quot;, 1,
   IF({!Recurrence_Type} = &quot;RecursWeekly&quot;, 7,
      IF({!Recurrence_Type} = &quot;RecursMonthly&quot;, 30, 365)))</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Megan&apos;s Task Screen FLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Megan&apos;s Task Screen FLow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Task_not_recurring</name>
        <label>Create Task</label>
        <locationX>1106</locationX>
        <locationY>350</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_to_User.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Agency157</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Recurs_Monthly</name>
        <label>Recurs Monthly</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence</field>
            <value>
                <elementReference>IsrRecurring</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_to_User.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceDayOfMonth</field>
            <value>
                <elementReference>DefaultDayOfMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceEndDateOnly</field>
            <value>
                <elementReference>Recurrence_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceInterval</field>
            <value>
                <elementReference>RecurrenceInterval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceStartDateOnly</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceType</field>
            <value>
                <elementReference>Recurrence_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Agency157</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Recurs_Weekly</name>
        <label>Recurs Weekly</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence</field>
            <value>
                <elementReference>IsrRecurring</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_to_User.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceDayOfWeekMask</field>
            <value>
                <elementReference>RecurrenceDay</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceEndDateOnly</field>
            <value>
                <elementReference>Recurrence_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceInterval</field>
            <value>
                <elementReference>DefaultRecurrenceInterval</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceStartDateOnly</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceType</field>
            <value>
                <elementReference>Recurrence_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>A157Account</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Recurs_Yearly</name>
        <label>Recurs Yearly</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>TaskComments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IsRecurrence</field>
            <value>
                <elementReference>IsrRecurring</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Assigned_to_User.selectedChoiceValues</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceDayOfMonth</field>
            <value>
                <elementReference>DefaultDayOfMonth</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceEndDateOnly</field>
            <value>
                <elementReference>Recurrence_End_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceMonthOfYear</field>
            <value>
                <elementReference>DefaultMonthOfYear</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceStartDateOnly</field>
            <value>
                <elementReference>Due_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecurrenceType</field>
            <value>
                <elementReference>Recurrence_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Agency157</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Megan_s_Task_Details</name>
        <label>Megan&apos;s Task Details</label>
        <locationX>776</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Recurring</targetReference>
        </connector>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Assigned_to_User</name>
            <choiceReferences>CurrentUserChoice</choiceReferences>
            <choiceReferences>NeilieChoice</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Assigned to</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>IsrRecurring</name>
            <dataType>Boolean</dataType>
            <fieldText>Repeat?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Recurrence_Type</name>
            <choiceReferences>RecursWeekly</choiceReferences>
            <choiceReferences>RecursMonthly</choiceReferences>
            <choiceReferences>RecursYearly</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Recurrence Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsrRecurring</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Recurrence_End_Date</name>
            <dataType>Date</dataType>
            <fieldText>Recurrence End Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>IsrRecurring</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RecurrenceDay</name>
            <choiceReferences>Sunday</choiceReferences>
            <choiceReferences>Monday</choiceReferences>
            <choiceReferences>Tuesday</choiceReferences>
            <choiceReferences>Wednesday</choiceReferences>
            <choiceReferences>Thursday</choiceReferences>
            <choiceReferences>Friday</choiceReferences>
            <choiceReferences>Saturday</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Day of the Week</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Recurrence_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecursWeekly</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RecurrenceDayOfMonth</name>
            <dataType>Number</dataType>
            <fieldText>Day of the Month</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Recurrence_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>RecursMonthly</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RecurrenceMonthOfYearChoice</name>
            <choiceReferences>JanuaryMonth</choiceReferences>
            <choiceReferences>FebruaryMonth</choiceReferences>
            <choiceReferences>MarchChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Month of Year</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RecursYearly</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Due_Date</name>
            <dataType>Date</dataType>
            <fieldText>Due Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>TaskComments</name>
            <dataType>String</dataType>
            <fieldText>Comments</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Create Task</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Megan_s_Task_Details</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>A157</description>
        <name>A157Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0015f00002Jje9yAAB</stringValue>
        </value>
    </variables>
    <variables>
        <name>NeilieUserIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0055f00000DoG8v</stringValue>
        </value>
    </variables>
</Flow>
