force-app/main/default/flows/Populate_Encrypted_Device_Record_from_Agents_Staff_Lookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Agent_Fields</name>
        <label>Assign Agent Fields</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>Get_Agents_Staff_Record.First_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agents_Staff_Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Agents_Staff_Record.Core_or_Detached__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agents_Staff_Record.Core_or_Detached__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Agents_Staff_Record.Employment_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agents_Staff_Record.Employment_Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Agents_Staff_Record.Personal_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agents_Staff_Record.Personal_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Agents_Staff_Record.Last_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agents_Staff_Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Agents_Staff_Record.MM_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Agents_Staff_Record.MM_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Current_Record</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Populate Encrypted Device Record from Agents/Staff Lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pop Record from Agents Staff</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agents_Staff_Record</name>
        <label>Get Agents/Staff Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Agent_Fields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Agents_Staff__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agents_Staff__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Personal_Email__c</queriedFields>
        <queriedFields>Agency__c</queriedFields>
        <queriedFields>Core_or_Detached__c</queriedFields>
        <queriedFields>MM_ID__c</queriedFields>
        <queriedFields>Work_Email__c</queriedFields>
        <queriedFields>Employment_Status__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Current_Record</name>
        <label>Update Current Record</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <elementReference>Get_Agents_Staff_Record.Employment_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Get_Agents_Staff_Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Get_Agents_Staff_Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>Get_Agents_Staff_Record.Personal_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>Get_Agents_Staff_Record.Personal_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>null__NotFound</field>
            <value>
                <elementReference>Get_Agents_Staff_Record.MM_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Agents_Staff_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Agents_Staff__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <object>Encrypted_Device__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
