force-app/main/default/flows/Process_Contract_Extension.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Extension_Dates</name>
        <label>Set Extension Dates</label>
        <locationX>264</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>$Record.Extension_Granted_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Extended_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ExtendedEndDate</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Extension_Just_Granted</name>
        <label>Check Extension Just Granted</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <defaultConnectorLabel>Extension Not New</defaultConnectorLabel>
        <rules>
            <name>Extension_Was_Just_Checked</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Extension_Granted__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Extension_Granted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Extension_Dates</targetReference>
            </connector>
            <label>Extension Was Just Checked</label>
        </rules>
    </decisions>
    <description>When Extension_Granted__c is checked, automatically sets Extension_Granted_Date to today and calculates Extended_End_Date (Extension Date + 4 months).</description>
    <environments>Default</environments>
    <formulas>
        <name>formula_ExtendedEndDate</name>
        <dataType>Date</dataType>
        <expression>ADDMONTHS({!$Flow.CurrentDate}, 4)</expression>
    </formulas>
    <interviewLabel>Process Contract Extension {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Process Contract Extension</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Extension_Just_Granted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Extension_Granted__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract B</stringValue>
            </value>
        </filters>
        <object>Candidate__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
