force-app/main/default/flows/Send_Endorsement_Email.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Contract_A_Endorsement_Email</name>
        <label>Send Contract A Endorsement Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>pbaker@capstone.financial</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue>neilie@capstone.financial</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressCollection</name>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
            <value>
                <stringValue>SaraSignorelli@financialguide.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XVo000001aD1NMAU</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>varALCRecord.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <actionCalls>
        <name>Send_NRF_Endorsement_Email</name>
        <label>Send NRF Endorsement Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>pbaker@capstone.financial</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue>neilie@capstone.financial</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressCollection</name>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
            <value>
                <stringValue>SaraSignorelli@financialguide.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useEmailTemplate</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00XVo000001aK65MAE</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>1.0.1</versionString>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_Email_Recipients</name>
        <label>Add Email Recipients</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dbennett@financialguide.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>zslaveniece@financialguide.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dveltri@financialguide.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>pbaker@capstone.financial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>tdenton@capstone.financial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>tmay@financialguide.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>topher@capstone.financial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>pblum@capstone.financial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>megan@capstone.financial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Donna@capstone.financial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>rtenny@capstone.financialhmullen@capstone.financial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>hmullen@capstone.financial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>AWatson@capstone.financial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>dflores@financialguide.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>hmathisrud@capstone.financial</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>varnold@capstone.financia</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>BBey@financialguide.com</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AddressListVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>ajohnston@capstone.financial</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Select_ALC_to_send_Endorsed_email_for</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Contract_Type</name>
        <label>Contract Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A_or_B</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varALCRecord.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varALCRecord.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>B</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Contract_A_Endorsement_Email</targetReference>
            </connector>
            <label>A or B</label>
        </rules>
        <rules>
            <name>NRF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varALCRecord.Contract_Type__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Send_NRF_Endorsement_Email</targetReference>
            </connector>
            <label>NRF</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Endorsement Email {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Endorsement Email</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Related_ALC_Record</name>
        <label>Get Related ALC Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contract_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Contact.ALC__r.Id</elementReference>
            </value>
        </filters>
        <object>ALC__c</object>
        <outputReference>varALCRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contract_Type__c</queriedFields>
        <queriedFields>Agency__c</queriedFields>
        <queriedFields>CM_Code__c</queriedFields>
        <queriedFields>A360__c</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Contract_B_Expiration_Date__c</queriedFields>
        <queriedFields>Contract_Effective__c</queriedFields>
        <queriedFields>DOB__c</queriedFields>
        <queriedFields>First_Name__c</queriedFields>
        <queriedFields>Manager__c</queriedFields>
        <queriedFields>MMID__c</queriedFields>
        <queriedFields>Office__c</queriedFields>
        <queriedFields>Mobile__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Personal_Email_Address__c</queriedFields>
        <queriedFields>Home_Address__c</queriedFields>
        <queriedFields>LADL_Sales_Experience__c</queriedFields>
        <queriedFields>Last_Name__c</queriedFields>
        <queriedFields>Position__c</queriedFields>
        <queriedFields>Registered__c</queriedFields>
        <queriedFields>Sales_Manager__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_ALC_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Select_ALC_to_send_Endorsed_email_for</name>
        <label>Select ALC to send Endorsed email for</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Related_Contact</targetReference>
        </connector>
        <fields>
            <name>Contact_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>ALC Lookup</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Add_Email_Recipients</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AddressListVariable</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varALCRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ALC__c</objectType>
    </variables>
</Flow>
