force-app/main/default/flows/Set_Interview_Name.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <assignments>
        <name>Set_Default_Interview_Type</name>
        <label>Set Default Interview Type</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Interview_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DefaultInterviewType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Interview_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Interview_Name</name>
        <label>Set Interview Name</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InterviewNameFormula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Candidate_Found</name>
        <label>Check Candidate Found</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Candidate_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate_Info</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_Interview_Type_Empty</targetReference>
            </connector>
            <label>Candidate Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Interview_Type_Empty</name>
        <label>Check If Interview Type Empty</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Set_Interview_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Type Already Set</defaultConnectorLabel>
        <rules>
            <name>Type_Not_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Interview_Type__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Default_Interview_Type</targetReference>
            </connector>
            <label>Type Not Set</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Required_Fields</name>
        <label>Check Required Fields</label>
        <locationX>176</locationX>
        <locationY>107</locationY>
        <defaultConnector>
            <targetReference>Get_Candidate_Info</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Has Values</defaultConnectorLabel>
        <rules>
            <name>Missing_Candidate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Candidate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Missing Candidate</label>
        </rules>
    </decisions>
    <recordLookups>
        <name>Get_Candidate_Info</name>
        <label>Get Candidate Info</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Candidate_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Candidate__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <description>Automatically sets the Interview Name by concatenating Candidate name and Interview Type when a new Interview record is created.</description>
    <environments>Default</environments>
    <formulas>
        <name>DefaultInterviewType</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!Get_Candidate_Info.Highest_Level_Achieved__c}),
&quot;0-Prequal&quot;, &quot;SI1&quot;,
&quot;Ci_1st&quot;, &quot;SI2&quot;,
&quot;Align (2nd)&quot;, &quot;SI3&quot;,
&quot;Plan_3rd&quot;, &quot;Career&quot;,
&quot;Present-4th&quot;, &quot;Career&quot;,
&quot;SI1&quot;)</expression>
    </formulas>
    <formulas>
        <name>InterviewNameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Candidate_Info.First_Name__c} &amp; &quot; &quot; &amp; {!Get_Candidate_Info.Last_Name__c} &amp; &quot; - &quot; &amp; {!$Record.Interview_Type__c}</expression>
    </formulas>
    <interviewLabel>Set Interview Name {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Set Interview Name</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Required_Fields</targetReference>
        </connector>
        <object>Interview__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
