force-app/main/default/flows/Start_Contracting_for_Candidate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_Flow_Record_Id_Action_1</name>
        <label>Redirect Flow - Record Id Action 1</label>
        <locationX>314</locationX>
        <locationY>1622</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <connector>
            <targetReference>Which_Agency</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>ALCRecordIdVar</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Agency_Variable</name>
        <label>Assign Agency Variable</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>AgencyVariable</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Contracting_Record_Created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Entered_Personal_Email_as_Variable</name>
        <label>Assign  Entered Personal Email as Variable</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>PersonalEmailVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Agency_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Looked_Up_Candidate_Record_Id</name>
        <label>Assign Looked Up Candidate Record Id</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Candidate_Contracting_Lookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Candidate_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Agency_Present</name>
        <label>Is Agency Present</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Select_Candidate_Agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate_Record.Agency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Contracting_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Personal_Email_Present</name>
        <label>Personal Email Present?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Is_Agency_Present</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Yes</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate_Record.Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Enter_Personal_Email</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Agency</name>
        <label>Which Agency</label>
        <locationX>314</locationX>
        <locationY>1730</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A007</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate_Record.Agency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A007</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A007_ALC_Tasks_Subflow</targetReference>
            </connector>
            <label>A007</label>
        </rules>
        <rules>
            <name>A157</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate_Record.Agency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A157</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>A157_ALC_Tasks_Subflow</targetReference>
            </connector>
            <label>A157</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SelectAgency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Agency__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Start Contracting for Candidate {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Start Contracting for Candidate</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Contracting_Record</name>
        <label>Create Contracting Record with agency</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <assignRecordIdToReference>ALCRecordIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>Assign_Agency_Variable</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Duplicate</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Get_Candidate_Record.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Assigned_To__c</field>
            <value>
                <elementReference>AlexUserID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>Get_Candidate_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Candidate_Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Get_Candidate_Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Get_Candidate_Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Candidate_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email_Address__c</field>
            <value>
                <elementReference>Get_Candidate_Record.personal_email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>To do</stringValue>
            </value>
        </inputAssignments>
        <object>ALC__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contracting_Record</name>
        <label>Create Contracting Record</label>
        <locationX>578</locationX>
        <locationY>1082</locationY>
        <assignRecordIdToReference>ALCRecordIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>Contracting_Record_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>DuplicateMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Personal_Email_Address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate_Record.personal_email_formula__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Select_Agency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Candidate_Contracting_Lookup.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_Candidate_Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email_Address__c</field>
            <value>
                <elementReference>PersonalEmailVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Candidate__c</field>
            <value>
                <elementReference>Candidate_Contracting_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>To do</stringValue>
            </value>
        </inputAssignments>
        <object>ALC__c</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordLookups>
        <name>Get_Candidate_Record</name>
        <label>Get Candidate Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Personal_Email_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Candidate_Lookup</name>
        <label>Candidate Lookup</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Looked_Up_Candidate_Record_Id</targetReference>
        </connector>
        <fields>
            <name>Candidate_Contracting_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Candidate_Nominators_Lookup__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Candidate Lookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Candidate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contracting_Record_Created</name>
        <label>Contracting Record Created</label>
        <locationX>314</locationX>
        <locationY>1514</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Redirect_Flow_Record_Id_Action_1</targetReference>
        </connector>
        <fields>
            <name>ContractingRecordCreated</name>
            <fieldText>&lt;p&gt;Contracting Record Created&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate</name>
        <label>Duplicate</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Duplicate_Record</name>
            <fieldText>&lt;p&gt;Cannot create duplicate record. Record with this name and email address already exists. &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>DuplicateMessage</name>
        <label>Duplicate Message</label>
        <locationX>842</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>CannotCreateDuplicate</name>
            <fieldText>&lt;p&gt;Cannot create duplicate record. Record by this name and email already exists.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Enter_Personal_Email</name>
        <label>Enter Personal Email</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Entered_Personal_Email_as_Variable</targetReference>
        </connector>
        <fields>
            <name>Personal_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Candidate_Agency</name>
        <label>Select Candidate Agency</label>
        <locationX>578</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Contracting_Record</targetReference>
        </connector>
        <fields>
            <name>Select_Agency</name>
            <choiceReferences>SelectAgency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Agency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Candidate_Lookup</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>A007_ALC_Tasks_Subflow</name>
        <label>A007 ALC Tasks Subflow</label>
        <locationX>50</locationX>
        <locationY>1838</locationY>
        <flowName>ALC_Task_Creation_Subflow</flowName>
    </subflows>
    <subflows>
        <name>A157_ALC_Tasks_Subflow</name>
        <label>A157 ALC Tasks Subflow</label>
        <locationX>314</locationX>
        <locationY>1838</locationY>
        <flowName>A157_ALC_Task_Creation_Subflow</flowName>
        <inputAssignments>
            <name>RecordId</name>
            <value>
                <elementReference>ALCRecordIdVar</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <name>AgencyVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ALCRecordIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AlexUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0055f00000DrQuoAAF</stringValue>
        </value>
    </variables>
    <variables>
        <name>PersonalEmailVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
