force-app/main/default/flows/Update_Contact_on_forwarded_email_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Did_We_Find_a_Contact</name>
        <label>Did We Find a Contact?</label>
        <locationX>182</locationX>
        <locationY>971</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Contact_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActualSenderContact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Contact</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_This_a_Service_User</name>
        <label>Is This a Service User?</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ServiceUserMatchVar</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Email_Extracted</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Email_Extracted</name>
        <label>Is Email Extracted?</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnectorLabel>No Email Found</defaultConnectorLabel>
        <rules>
            <name>Email_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExtractedSenderEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Email is Blank</label>
        </rules>
        <rules>
            <name>Valid_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ExtractedSenderEmail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Actual_Sender_Contact</targetReference>
            </connector>
            <label>Valid Email</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExtractedSenderEmail</name>
        <dataType>String</dataType>
        <expression>IF(
  AND(
    CONTAINS($Record.Description, &quot;From:&quot;),
    CONTAINS(
      MID(
        $Record.Description,
        FIND(&quot;From:&quot;, $Record.Description),
        FIND(&quot;\n&quot;, $Record.Description &amp; &quot;\n&quot;, FIND(&quot;From:&quot;, $Record.Description)) - FIND(&quot;From:&quot;, $Record.Description)
      ),
      &quot;&lt;&quot;
    ),
    CONTAINS(
      MID(
        $Record.Description,
        FIND(&quot;From:&quot;, $Record.Description),
        FIND(&quot;\n&quot;, $Record.Description &amp; &quot;\n&quot;, FIND(&quot;From:&quot;, $Record.Description)) - FIND(&quot;From:&quot;, $Record.Description)
      ),
      &quot;&gt;&quot;
    )
  ),
  MID(
    MID(
      $Record.Description,
      FIND(&quot;From:&quot;, $Record.Description),
      FIND(&quot;\n&quot;, $Record.Description &amp; &quot;\n&quot;, FIND(&quot;From:&quot;, $Record.Description)) - FIND(&quot;From:&quot;, $Record.Description)
    ),
    FIND(&quot;&lt;&quot;, 
      MID(
        $Record.Description,
        FIND(&quot;From:&quot;, $Record.Description),
        FIND(&quot;\n&quot;, $Record.Description &amp; &quot;\n&quot;, FIND(&quot;From:&quot;, $Record.Description)) - FIND(&quot;From:&quot;, $Record.Description)
      )
    ) + 1,
    FIND(&quot;&gt;&quot;, 
      MID(
        $Record.Description,
        FIND(&quot;From:&quot;, $Record.Description),
        FIND(&quot;\n&quot;, $Record.Description &amp; &quot;\n&quot;, FIND(&quot;From:&quot;, $Record.Description)) - FIND(&quot;From:&quot;, $Record.Description)
      )
    ) - 
    FIND(&quot;&lt;&quot;, 
      MID(
        $Record.Description,
        FIND(&quot;From:&quot;, $Record.Description),
        FIND(&quot;\n&quot;, $Record.Description &amp; &quot;\n&quot;, FIND(&quot;From:&quot;, $Record.Description)) - FIND(&quot;From:&quot;, $Record.Description)
      )
    ) - 1
  ),
  &quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Update Contact on forwarded email case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Contact on forwarded email case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Actual_Sender_Contact</name>
        <label>Get Actual Sender Contact</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Did_We_Find_a_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Personal_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExtractedSenderEmail</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ActualSenderContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Agents_Staff_Record</name>
        <label>Get Agents/Staff Record</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_This_a_Service_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ActualSenderContact</elementReference>
            </value>
        </filters>
        <object>Agents_Staff__c</object>
        <outputAssignments>
            <assignToReference>AgentsStaffId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Case</name>
        <label>Get Case</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Assigned Contact</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Service_User_Metadata</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Case.ContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactFinancialGuideEmail</assignToReference>
            <field>Financialguide_Email__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AssignedContact</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_User_Metadata</name>
        <label>Get Service User Metadata</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agents_Staff_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignedContact</elementReference>
            </value>
        </filters>
        <object>Service_User__mdt</object>
        <outputAssignments>
            <assignToReference>ServiceUserMatchVar</assignToReference>
            <field>ContactId__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Contact</name>
        <label>Update Case Contact</label>
        <locationX>50</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>Agents_Staff__c</field>
            <value>
                <elementReference>AgentsStaffId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ActualSenderContact</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Case</targetReference>
        </connector>
        <filterLogic>((1 OR 2) AND 3)</filterLogic>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FW:</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>Contains</operator>
            <value>
                <stringValue>FWD:</stringValue>
            </value>
        </filters>
        <filters>
            <field>Agents_Staff__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActualSenderContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AgentsStaffId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AssignedContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ContactFinancialGuideEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ServiceUserMatchVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
