force-app/main/default/flows/Update_Candidate_FYC_Rollup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Add_FYC_and_Count</name>
        <label>Add FYC and Count</label>
        <locationX>352</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>var_TotalFYC</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Totals.FYC__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_OpportunityCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Calculate_Totals</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Candidate_Found</name>
        <label>Check Candidate Found</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <defaultConnectorLabel>No Candidate</defaultConnectorLabel>
        <rules>
            <name>Candidate_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Candidate_For_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_All_Opportunities_For_Contact</targetReference>
            </connector>
            <label>Candidate Exists</label>
        </rules>
    </decisions>
    <description>Updates Total_FYC__c and Opportunity_Count__c on Candidate__c when Opportunities are created, updated, or deleted.</description>
    <environments>Default</environments>
    <interviewLabel>Update Candidate FYC Rollup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Candidate FYC Rollup</label>
    <loops>
        <name>Calculate_Totals</name>
        <label>Calculate Totals</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <collectionReference>Get_All_Opportunities_For_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_FYC_and_Count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Candidate_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_All_Opportunities_For_Contact</name>
        <label>Get All Opportunities For Contact</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Calculate_Totals</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Candidate_For_Contact</name>
        <label>Get Candidate For Contact</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Candidate_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contact__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Candidate__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Candidate_Record</name>
        <label>Update Candidate Record</label>
        <locationX>264</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Candidate_For_Contact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opportunity_Count__c</field>
            <value>
                <elementReference>var_OpportunityCount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_FYC__c</field>
            <value>
                <elementReference>var_TotalFYC</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Candidate_For_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>var_OpportunityCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_TotalFYC</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
