temp-flows/flows/A157_ALC_Broker_Task_Creation_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Additional_Documents_Needed_Select_Add_Labels</name>
        <label>Additional Documents Needed (Select &amp; Add Labels)</label>
        <locationX>176</locationX>
        <locationY>1754</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Pending_Business_from_Hailey_Start_Date_Record_Start_Date_on_Notes</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Additional Documents Needed (Select &amp; Add Labels)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Broker_Check_if_Registered_If_disclosures_req_BC_Add_Date</name>
        <label>Broker Check if Registered. If disclosures, req BC (Add Date)</label>
        <locationX>176</locationX>
        <locationY>1214</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Order_Background_Check_if_needed_Add_Date_Commentary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Broker Check if Registered. If disclosures, req BC (Add Date)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Contract_Received_from_HO_Download_send_contract_w</name>
        <label>Contract Received from HO. Download/send contract w/template</label>
        <locationX>176</locationX>
        <locationY>2078</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Wait_one_day_Request_FieldNet_Coverpath_Access</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Contract Received from HO. Download/send contract w/template &quot;Broker Endorsed (1)&quot;</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>CORP_ECQ_From_Andrew_Copy_to_File_Submit_ECQ_to_HO_Through_Fieldnet</name>
        <label>CORP- ECQ From Andrew (Copy to File) &amp; Submit ECQ to HO (Through Fieldnet)</label>
        <locationX>176</locationX>
        <locationY>1538</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>ECQ_Approval_Add_Date_to_Comments_copy_approval_to_File</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>CORP- ECQ From Andrew (Copy to File) &amp; Submit ECQ to HO (Through Fieldnet)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>E_O_Coverage_Certificate_Received</name>
        <label>E&amp;O Coverage Certificate Received</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Select_Relationship_level_Contract_Type_Corp_or_Individual_Label</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>E&amp;O Coverage Certificate Received</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>ECQ_Approval_Add_Date_to_Comments_copy_approval_to_File</name>
        <label>ECQ Approval (Add Date to Comments &amp; copy approval to File)</label>
        <locationX>176</locationX>
        <locationY>1646</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Additional_Documents_Needed_Select_Add_Labels</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>ECQ Approval (Add Date to Comments &amp; copy approval to File)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>IAMStrong_Codes_sent_to_Broker_If_Broker_Corp_CEO_given_proxy_to_Corp</name>
        <label>IAMStrong Codes sent to Broker. If Broker Corp- CEO given proxy to Corp</label>
        <locationX>176</locationX>
        <locationY>2294</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>MM ONX Sent to Broker (Add Date &amp; Commentary if needed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>If_Broker_Corp_Andrew_Approval</name>
        <label>If Broker Corp. Andrew Approval</label>
        <locationX>176</locationX>
        <locationY>890</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>MM_ONX_Sent_to_Broker_Add_Date_Commentary_if_needed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>If Broker Corp. Andrew Approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Individual_Licensed_Corp_Licensed_Add_License_s_to_Comments</name>
        <label>Individual Licensed? Corp Licensed (Add License #&apos;s to Comments)</label>
        <locationX>176</locationX>
        <locationY>1430</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>CORP_ECQ_From_Andrew_Copy_to_File_Submit_ECQ_to_HO_Through_Fieldnet</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Individual Licensed? Corp Licensed (Add License #&apos;s to Comments)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Initial_C_L_Form_Completed</name>
        <label>Initial C&amp;L Form Completed</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>E_O_Coverage_Certificate_Received</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Initial C&amp;L Form Completed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>MM_ONX_Completed_by_Broker_Add_Date_Commentary_if_needed</name>
        <label>MM ONX Completed by Broker (Add Date &amp; Commentary if needed)</label>
        <locationX>176</locationX>
        <locationY>1106</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Broker_Check_if_Registered_If_disclosures_req_BC_Add_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>MM ONX Completed by Broker (Add Date &amp; Commentary if needed)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>MM_ONX_Sent_to_Broker_Add_Date_Commentary_if_needed</name>
        <label>MM ONX Sent to Broker (Add Date &amp; Commentary if needed</label>
        <locationX>176</locationX>
        <locationY>998</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>MM_ONX_Completed_by_Broker_Add_Date_Commentary_if_needed</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>MM ONX Sent to Broker (Add Date &amp; Commentary if needed</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Order_Background_Check_if_needed_Add_Date_Commentary</name>
        <label>Order Background Check if needed (Add Date &amp; Commentary)</label>
        <locationX>176</locationX>
        <locationY>1322</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Individual_Licensed_Corp_Licensed_Add_License_s_to_Comments</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Order_Background_Check_if_needed_Add_Date_Commentary</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Pending_Business_from_Hailey_Start_Date_Record_Start_Date_on_Notes</name>
        <label>Pending Business from Hailey &amp; Start Date (Record Start Date on Notes)</label>
        <locationX>176</locationX>
        <locationY>1862</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Submitted_MM_ONX_app_Contract_to_Home_Office_w_Supporting_Docs_Add_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Pending Business from Hailey &amp; Start Date (Record Start Date on Notes)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Release_Inquiry_email_sent_to_Stephanie_Home_Office</name>
        <label>Release Inquiry email sent to Stephanie (Home Office)</label>
        <locationX>176</locationX>
        <locationY>674</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Release_Inquiry_Received_from_Stephanie_Home_Office_Add_Date_Commentary</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Release Inquiry email sent to Stephanie (Home Office)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Release_Inquiry_Received_from_Stephanie_Home_Office_Add_Date_Commentary</name>
        <label>Release Inquiry Received from Stephanie (Home Office) (Add Date &amp; Commentary)</label>
        <locationX>176</locationX>
        <locationY>782</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>If_Broker_Corp_Andrew_Approval</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Release Inquiry Received from Stephanie (Home Office) (Add Date &amp; Commentary)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Select_Relationship_level_Contract_Type_Corp_or_Individual_Label</name>
        <label>Select Relationship level &amp; Contract Type (Corp or Individual) Label</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Release_Inquiry_email_sent_to_Stephanie_Home_Office</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Select Relationship level &amp; Contract Type (Corp or Individual) Label</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Submitted_MM_ONX_app_Contract_to_Home_Office_w_Supporting_Docs_Add_Date</name>
        <label>Submitted MM ONX app Contract to Home Office w/Supporting Docs</label>
        <locationX>176</locationX>
        <locationY>1970</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Contract_Received_from_HO_Download_send_contract_w</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Pending Business from Hailey &amp; Start Date (Record Start Date on Notes)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Wait_one_day_Request_FieldNet_Coverpath_Access</name>
        <label>Wait one day: Request FieldNet &amp; Coverpath Access</label>
        <locationX>176</locationX>
        <locationY>2186</locationY>
        <actionName>NewTask</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>IAMStrong_Codes_sent_to_Broker_If_Broker_Corp_CEO_given_proxy_to_Corp</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Subject</name>
            <value>
                <stringValue>Wait one day: Request FieldNet &amp; Coverpath Access</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>OwnerId</name>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>WhatId</name>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NewTask</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_ALC_UserID</name>
        <label>Assign ALC UserID</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Get_Running_User.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ALCUserId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Initial_C_L_Form_Completed</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>A157 ALC Broker Task Creation Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>A157 ALC Broker Task Creation Subflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Running_User</name>
        <label>Get Running User</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ALC_UserID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Running_User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Running_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ALCUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AnnaUserIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0055f00000A72Vu</stringValue>
        </value>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SaraUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
