temp-flows/flows/Assign_Variables_for_New_Business_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_Collection</name>
        <label>Add to Collection</label>
        <locationX>264</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Var_NBC_Users</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NBC_User_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>NBC_User_Ids</targetReference>
        </connector>
    </assignments>
    <description>Assign Variables for New Business Team for use in other automations.</description>
    <environments>Default</environments>
    <interviewLabel>Assign Variables for New Business Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign Variables for New Business Team</label>
    <loops>
        <name>NBC_User_Ids</name>
        <label>NBC User Ids</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>Var_NBC_Users</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_to_Collection</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_NBC_User_Ids</name>
        <label>Get NBC User Ids</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NBC_User_Ids</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New Business Coordinator</stringValue>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Director of New Business</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>Var_NBC_Users</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastName</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_NBC_User_Ids</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <description>Bevin Bey&apos;s Salesforce user ID for automations</description>
        <name>BevinBeyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BlankID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_Record_Variable_for_user</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Daniela Flores Salesforce user ID for automations</description>
        <name>DanielaFloresUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>HaileyMullenID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for Margaret Ann Levy&apos;s user ID</description>
        <name>MargaretAnnLevyID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MichaelBushUserIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>0055f00000EXuO2</stringValue>
        </value>
    </variables>
    <variables>
        <description>Variable for Michelle Elliott&apos;s Salesforce user ID</description>
        <name>MichelleElliott</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Variable for Ricky Warren&apos;s User ID</description>
        <name>RickyWarrenID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Var_NBC_Users</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>var_Single_NBC_User_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
