temp-flows/flows/CreateEventAttendee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Additional_Guest_Email</name>
        <label>Assign Additional Guest Email</label>
        <locationX>1106</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Additional_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Guests_Emails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Additional_Guests_Emails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Event_Attendee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Additional_Host_Email</name>
        <label>Assign Additional Host Email</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Additional_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Hosts_Emails</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Additional_Hosts_Emails</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pop_Additional_Guest_Email</name>
        <label>Pop Additional Guest Email</label>
        <locationX>842</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>Additional_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_First_Additional_Guest_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Additional_Guests_Emails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_First_Email_From_Additional_Guests_Emails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Event_Attendee</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Pop_Additional_Host_Email</name>
        <label>Pop Additional Host Email</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>Additional_Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extract_First_Additional_Host_Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Additional_Hosts_Emails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Remove_First_Email_From_Additional_Hosts_Emails</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_User</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Event_Relation_ID</name>
        <label>Save Event Relation ID</label>
        <locationX>446</locationX>
        <locationY>1532</locationY>
        <assignmentItems>
            <assignToReference>Event_Relation_ID_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Event_Relation_for_Additional_Guest</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Additional_Guests_Emails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Save_Event_Relation_ID_User</name>
        <label>Save Event Relation ID</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Event_Relation_ID_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Create_Event_Relation_for_Additional_Host</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Additional_Hosts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Additional_Guest_Found</name>
        <label>Additional Guest Found?</label>
        <locationX>710</locationX>
        <locationY>1316</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Additional_Guests_Emails</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Additional_Guest_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Event_Attendee.Attendee_ID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event_Relation_for_Additional_Guest</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Additional_Guests_Emails</name>
        <label>Check Additional Guests Emails</label>
        <locationX>710</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Assign_Additional_Guest_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Email</defaultConnectorLabel>
        <rules>
            <name>Check_Additional_Guests_Emails_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Guests_Emails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Additional_Guests_Emails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Additional_Hosts</targetReference>
            </connector>
            <label>Empty</label>
        </rules>
        <rules>
            <name>Check_Additional_Guests_Emails_Multiple_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Guests_Emails_Contains_Comma</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pop_Additional_Guest_Email</targetReference>
            </connector>
            <label>Multiple Emails</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Additional_Hosts</name>
        <label>Check Additional Hosts</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Additional_Host_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Single Email</defaultConnectorLabel>
        <rules>
            <name>Check_Additional_Hosts_Empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Hosts_Emails</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Additional_Hosts_Emails</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <label>Empty</label>
        </rules>
        <rules>
            <name>Check_Additional_Hosts_Multiple_Emails</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Additional_Hosts_Emails_Contain_Comma</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pop_Additional_Host_Email</targetReference>
            </connector>
            <label>Multiple Emails</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_Found</name>
        <label>User Found?</label>
        <locationX>314</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Additional_Hosts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>User_Found_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Event_Relation_for_Additional_Host</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Additional_Guests_Emails_Contains_Comma</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!Additional_Guests_Emails}, &quot;,&quot;)</expression>
    </formulas>
    <formulas>
        <name>Additional_Hosts_Emails_Contain_Comma</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!Additional_Hosts_Emails}, &quot;,&quot;)</expression>
    </formulas>
    <formulas>
        <name>Extract_First_Additional_Guest_Email</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!Additional_Guests_Emails}, FIND(&quot;,&quot;, {!Additional_Guests_Emails}) - 1))</expression>
    </formulas>
    <formulas>
        <name>Extract_First_Additional_Host_Email</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!Additional_Hosts_Emails}, FIND(&quot;,&quot;, {!Additional_Hosts_Emails}) - 1))</expression>
    </formulas>
    <formulas>
        <name>Remove_First_Email_From_Additional_Guests_Emails</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!Additional_Guests_Emails}, LEN({!Additional_Guests_Emails}) - FIND(&quot;,&quot;, {!Additional_Guests_Emails})))</expression>
    </formulas>
    <formulas>
        <name>Remove_First_Email_From_Additional_Hosts_Emails</name>
        <dataType>String</dataType>
        <expression>TRIM(RIGHT({!Additional_Hosts_Emails}, LEN({!Additional_Hosts_Emails}) - FIND(&quot;,&quot;, {!Additional_Hosts_Emails})))</expression>
    </formulas>
    <interviewLabel>CreateEventAttendee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateEventAttendee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Event_Relation_for_Additional_Guest</name>
        <label>Create Event Relation for Additional Guest</label>
        <locationX>446</locationX>
        <locationY>1424</locationY>
        <connector>
            <targetReference>Save_Event_Relation_ID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Additional_Guests_Emails</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EventId</field>
            <value>
                <elementReference>Event_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>Get_Event_Attendee.Attendee_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>EventRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Event_Relation_for_Additional_Host</name>
        <label>Create Event Relation for Additional Host</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Save_Event_Relation_ID_User</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_Additional_Hosts</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>EventId</field>
            <value>
                <elementReference>Event_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelationId</field>
            <value>
                <elementReference>Find_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <object>EventRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>314</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Additional_Email</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <sourceTemplate>Calendly__Create_Event_Attendee_Template</sourceTemplate>
    <start>
        <locationX>584</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Additional_Guests_Emails</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Event_Attendee</name>
        <label>Get Event Attendee</label>
        <locationX>710</locationX>
        <locationY>1208</locationY>
        <connector>
            <targetReference>Additional_Guest_Found</targetReference>
        </connector>
        <flowName>Calendly__Get_Event_Attendee_Template</flowName>
        <inputAssignments>
            <name>Event_Attendee_Email</name>
            <value>
                <elementReference>Additional_Email</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
    <variables>
        <description>Auxiliary variable to hold the current email being processed.</description>
        <name>Additional_Email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A string containing the email of the additional guests separated by comma</description>
        <name>Additional_Guests_Emails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A string containing the email of the additional hosts separated by comma</description>
        <name>Additional_Hosts_Emails</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>The event which will receive the Additional Guests and Additional Hosts relationship</description>
        <name>Event_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Event_Relation_ID_List</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
