temp-flows/flows/Create_Agents_Staff_Record_when_ALC_submits_to_HO.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Check to see if this person already has an agent/staff record.</description>
        <name>Does_Agent_Staff_record_already_exist</name>
        <label>Does Agent/Staff record already exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Record Exists</defaultConnectorLabel>
        <rules>
            <name>Does_Not_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact__r.Agents_Staff__r.Id</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_Agents_Staff_Record</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Does Not Exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Agents/Staff Record when ALC submits to HO {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Agents/Staff Record when ALC submits to HO</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Agents_Staff_Record</name>
        <label>Create Agents/Staff Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ALC__c</field>
            <value>
                <elementReference>Get_Triggering_ALC_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Get_Triggering_ALC_Record.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Triggering_ALC_Record.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Get_Triggering_ALC_Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Get_Triggering_ALC_Record.Last_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MM_ID__c</field>
            <value>
                <elementReference>Get_Triggering_ALC_Record.MMID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Get_Triggering_ALC_Record.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Triggering_ALC_Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>Get_Triggering_ALC_Record.Personal_Email_Address__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>Get_Triggering_ALC_Record.Position__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Get_Triggering_ALC_Record.Start_date__c</elementReference>
            </value>
        </inputAssignments>
        <object>Agents_Staff__c</object>
        <operationMultMatchingRecords>None</operationMultMatchingRecords>
        <operationOneMatchingRecord>None</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Agent_Staff_Record</name>
        <label>Get Agent/Staff Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Agent_Staff_record_already_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Personal_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Triggering_ALC_Record.Personal_Email_Address__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agents_Staff__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Triggering_ALC_Record</name>
        <label>Get Triggering ALC Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agent_Staff_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ALC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Triggering_ALC_Record</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submit to HO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fingerprinting</stringValue>
            </value>
        </filters>
        <object>ALC__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
