temp-flows/flows/Create_Onboarding_Tickets.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Welcome_Email</name>
        <label>Send Welcome Email</label>
        <locationX>578</locationX>
        <locationY>2303</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Create_Onboarding_Ticket_Send_Welcome_Email</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>help@capstonetechsupport.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Welcome To Capstone!</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>WelcomeEmail</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Get_New_AgentsStaff_Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bccRecipientAddressList</name>
            <value>
                <stringValue>pbaker@capstone.financial</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_First_Name_Last_Name</name>
        <label>Assign First Name, Last, Name</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Last_Name__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Find_Contact_Record</targetReference>
        </connector>
    </assignments>
    <customErrors>
        <name>Must_Enter_An_Agency</name>
        <label>Must Enter An Agency</label>
        <locationX>578</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Send_Welcome_Email</targetReference>
        </connector>
        <customErrorMessages>
            <errorMessage>No Agency Selected. Please select agency and try again.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Create_Onboarding_Tickets</name>
        <label>Create Onboarding Tickets?</label>
        <locationX>798</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_AgentsStaff_Record.Do_Not_Create_Onboarding_Tickets__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_First_Name_Last_Name</targetReference>
            </connector>
            <label>Create</label>
        </rules>
    </decisions>
    <decisions>
        <name>Detached_Office</name>
        <label>Detached Office?</label>
        <locationX>578</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Send_Welcome_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Detached Office</defaultConnectorLabel>
        <rules>
            <name>Core_Office</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Core_or_Detached__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Core</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Which_Core_Office</targetReference>
            </connector>
            <label>Core Office</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_contact_exist</name>
        <label>Does Contact Exist?</label>
        <locationX>578</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.First_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>LastName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Last_Name__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Link_to_contact_record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Core_Office</name>
        <label>Which Core Office</label>
        <locationX>314</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Must_Enter_An_Agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Agency</defaultConnectorLabel>
        <rules>
            <name>A007</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_AgentsStaff_Record.Agency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A007</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Request_Zoom_Phone</targetReference>
            </connector>
            <label>A007</label>
        </rules>
        <rules>
            <name>A157</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_AgentsStaff_Record.Agency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A157</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Zoom_Phone</targetReference>
            </connector>
            <label>A157</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Onboarding Tickets {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Onboarding Tickets</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Request vanity email for new staff/agent</description>
        <name>Copy_3_of_Create_Onboarding_Ticket_Create_user_in_Papercut</name>
        <label>Copy 3 of Create Onboarding Ticket-Create user in Papercut</label>
        <locationX>314</locationX>
        <locationY>1703</locationY>
        <connector>
            <targetReference>Copy_3_of_Create_Onboarding_Ticket_Send_Printer_Install_Instructions</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>$Record.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agents_Staff__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Onboarding Automation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5f000004Hc9hEAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Create user in Papercut</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Send Printer Install Instructions</description>
        <name>Copy_3_of_Create_Onboarding_Ticket_Send_Printer_Install_Instructions</name>
        <label>Copy 3 of Create Onboarding Ticket-Send Printer Install Instructions</label>
        <locationX>314</locationX>
        <locationY>1811</locationY>
        <connector>
            <targetReference>Create_Onboarding_Ticket_Create_Access_Card_for_building</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>$Record.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agents_Staff__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Onboarding Automation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5f000004Hc9hEAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Printer Install Instructions</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Record</name>
        <label>Create Contact Record</label>
        <locationX>666</locationX>
        <locationY>1079</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Link_to_contact_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Work_Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>$Record.First_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MM_ID__c</field>
            <value>
                <elementReference>Get_New_AgentsStaff_Record.MM_ID_formula_field__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>$Record.Mobile__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>$Record.Personal_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <description>Create Access Card for building</description>
        <name>Create_Onboarding_Ticket_Create_Access_Card_for_building</name>
        <label>Create Onboarding Ticket-Create Access Card for building</label>
        <locationX>314</locationX>
        <locationY>1919</locationY>
        <connector>
            <targetReference>Create_Onboarding_Ticket_Request_vanity_email_for_new_staff_agent</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>$Record.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agents_Staff__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Onboarding Automation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5f000004Hc9hEAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Create Access Card for building</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Request vanity email for new staff/agent</description>
        <name>Create_Onboarding_Ticket_Request_vanity_email_for_new_staff_agent</name>
        <label>Create Onboarding Ticket- Request vanity email for new staff/agent</label>
        <locationX>314</locationX>
        <locationY>2027</locationY>
        <connector>
            <targetReference>Send_Welcome_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>$Record.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agents_Staff__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Onboarding Automation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5f000004Hc9hEAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Request vanity email for new staff/agent</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Send Welcome Email</description>
        <name>Create_Onboarding_Ticket_Send_Welcome_Email</name>
        <label>Create Onboarding Ticket-Send Welcome Email</label>
        <locationX>578</locationX>
        <locationY>2411</locationY>
        <connector>
            <targetReference>Change_Onboarding_Status_to</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>$Record.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agents_Staff__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Onboarding Automation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5f000004Hc9hEAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Send Welcome Email</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Request vanity email for new staff/agent</description>
        <name>Create_Zoom_Phone</name>
        <label>Create Zoom Phone #</label>
        <locationX>314</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Copy_3_of_Create_Onboarding_Ticket_Create_user_in_Papercut</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>$Record.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agents_Staff__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Onboarding Automation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5f000004Hc9hEAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Request Zoom Phone in Service Now</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Request vanity email for new staff/agent</description>
        <name>Request_Zoom_Phone</name>
        <label>Request Zoom Phone</label>
        <locationX>50</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Send_Welcome_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>$Record.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agents_Staff__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Onboarding Automation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>00G5f000004Hc9hEAC</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason</field>
            <value>
                <stringValue>Onboarding</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Request Zoom Phone from Service Now</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Find_Contact_Record</name>
        <label>Find Contact</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_contact_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact.Id</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_ALC_Record</name>
        <label>Get ALC Record</label>
        <locationX>798</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>MMID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_New_AgentsStaff_Record.MM_ID_formula_field__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ALC__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>798</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Onboarding_Tickets</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ALC_Record.Contact__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_New_AgentsStaff_Record</name>
        <label>Get New AgentsStaff Record</label>
        <locationX>798</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ALC_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agents_Staff__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_Onboarding_Status_to</name>
        <label>Change Status to Active</label>
        <locationX>578</locationX>
        <locationY>2519</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Work_Email__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Link_to_contact_record</name>
        <label>Link to contact record</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <connector>
            <targetReference>Detached_Office</targetReference>
        </connector>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>672</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_New_AgentsStaff_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Name__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Do_Not_Create_Onboarding_Tickets__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Agents_Staff__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <description>Welcome Email for new Agents or Staff</description>
        <name>WelcomeEmail</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;{!Get_New_AgentsStaff_Record.First_Name__c}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Welcome to Capstone!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;My name is &lt;strong&gt;Pat Baker&lt;/strong&gt;, and I am the &lt;strong&gt;Director of Technology&lt;/strong&gt; at Capstone. I am here to provide technology support for all members of our office, which includes the setup, maintenance, and oversight of technology requirements, practices, and equipment. I am also responsible for ensuring secure and compliant system and software usage.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Office Hours:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Monday-Friday: 9 AM to 5 PM&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Submitting IT Issues:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;To ensure efficient tracking, please create a support ticket by emailing &lt;strong&gt;help@capstonetechsupport.com&lt;/strong&gt;.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Important:&lt;/strong&gt; Include relevant details and the MM ID# for any involved parties.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;MassMutual IT Support:&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;MassMutual Home Office also provides 24/7 IT support.&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;Phone:&lt;/strong&gt; (800) 767-1000&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Instructions:&lt;/strong&gt; Press *, 4, then select the most appropriate option for your needs.&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;strong&gt;Getting Started&lt;/strong&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;&lt;strong&gt;Phone/Voicemail Setup&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Your desk phone is equipped with a Voice Over Internet Phone system. To set up your voicemail, please follow &lt;a href=&quot;https://fieldnet.massmutual.com/fnmmfg/fts/pdfs/uccaas-voicemail.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;these instructions&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Wireless Connection&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;Select &lt;strong&gt;CWAGYFIELD2&lt;/strong&gt; from the available Wi-Fi options and use your MassMutual AA or AE# along with your Fieldnet/Okta password.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Bring Your Own Device (BYOD) Program&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;MassMutual supports a BYOD program. Please review the &lt;a href=&quot;https://fieldnet.massmutual.com/fnmmfg/fts/pdfs/field-technology-standards.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Field Technology Standards&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;All devices must be encrypted and configured. To schedule a remote session for encryption, use &lt;a href=&quot;https://calendly.com/a026-support/computerencryption&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;this link&lt;/a&gt;.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;Mobile Device Management&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;To access Outlook on your mobile device, install the &lt;strong&gt;Intelligent Hub&lt;/strong&gt; app.&lt;/li&gt;&lt;li&gt;&lt;strong&gt;MassMutual Login/OKTA&lt;/strong&gt;&lt;/li&gt;&lt;li&gt;OKTA authentication is required for MassMutual systems. Please refer to the following resources for setup and support:&lt;/li&gt;&lt;/ol&gt;&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;https://fieldnet.massmutual.com/fnmmfg/fts/pdfs/field-login-settings.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Field Login (Okta) Settings&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://fieldnet.massmutual.com/fnmmfg/fts/pdfs/okta-verify-post-registration.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Okta Verify Post-Registration&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://fieldnet.massmutual.com/fnmmfg/fts/pdfs/self-service-password-reset.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Self-Service Password Reset&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;a href=&quot;https://fieldnet.massmutual.com/fnmmfg/fts/pdfs/self-service-unlock-account.pdf&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;Self-Service Unlock Account&lt;/a&gt;&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;For additional support, schedule time &lt;a href=&quot;https://calendly.com/app/routing/forms/656/edit/fields&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&gt;here&lt;/a&gt;.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Agency Codes:&lt;/strong&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;strong&gt;007&lt;/strong&gt; for Utah&lt;/li&gt;&lt;li&gt;&lt;strong&gt;026&lt;/strong&gt; for Denver&lt;/li&gt;&lt;li&gt;&lt;strong&gt;157&lt;/strong&gt; for California/Nevada&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;Welcome aboard! Please do not hesitate to reach out if you have questions or need further assistance.{!Get_New_AgentsStaff_Record.First_Name__c}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>bcc_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>pbaker@capstone.financial</stringValue>
        </value>
    </variables>
    <variables>
        <description>A variable to store the ID of the existing or newly created contact.</description>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>A variable to store the ID of the agent/staff record that triggered the flow.</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
