temp-flows/flows/Create_Device_Inspection_Record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <description>Email Results to Recruiting and Sales Manager</description>
        <name>Email_Results_to_Recruiting_and_Sales_Manager</name>
        <label>Email Results to Recruiting and Sales Manager</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Create_Device_Inspection_Record.Contact__r.Candidate__r.Recruiter__r.Email</elementReference>
                </collectionElements>
                <collectionElements>
                    <elementReference>Create_Device_Inspection_Record.Contact__r.Candidate__r.Sales_Manager_User_Lookup__r.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>bccAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Create_Device_Inspection_Record.Inspector__r.Email</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>help@capstonetechsupport.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>DeviceInspectionSubjectFormula</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>Team,

I met with {!Contact_Lookup.recordName}  and {!InspectionResults}.
{!Notes}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Create_Device_Inspection_Record.Id</elementReference>
                <inputConfiguratorMode>Resource</inputConfiguratorMode>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <dynamicChoiceSets>
        <name>Device_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Device_Type__c</picklistField>
        <picklistObject>Device_Inspection__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OperatingSystem</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Operating_System__c</picklistField>
        <picklistObject>Device_Inspection__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RAM</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RAM__c</picklistField>
        <picklistObject>Device_Inspection__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <description>Formula to get today&apos;s date</description>
        <name>DateFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <description>Formula to populate device inspection name field</description>
        <name>DeviceInspectionFormula</name>
        <dataType>String</dataType>
        <expression>{!Contact_Lookup.recordName}</expression>
    </formulas>
    <formulas>
        <description>Formula to create subject line for Device Inspection completion email</description>
        <name>DeviceInspectionSubjectFormula</name>
        <dataType>String</dataType>
        <expression>&quot;Device Inspection for &quot; &amp; {!Contact_Lookup.recordName} &amp;
&quot; - &quot; &amp;
{!Device_Type_Selection} &amp;
&quot; (&quot; &amp; {!InspectionResults} &amp; &quot;)&quot;</expression>
    </formulas>
    <formulas>
        <name>InspectionPassorFail</name>
        <dataType>String</dataType>
        <expression>IF(
    AND({!RAM_Amount} = &quot;Pass&quot;, {!Operating_System} = &quot;Pass&quot;),
    &quot;Passed&quot;,
    &quot;Failed&quot;
)</expression>
    </formulas>
    <formulas>
        <name>InspectionResults</name>
        <dataType>String</dataType>
        <expression>IF(
    AND({!RAM_Amount} = &quot;Pass&quot;, {!Operating_System} = &quot;Pass&quot;),
    &quot;Device passed inspection.&quot;,
    &quot;Device failed inspection due to &quot; &amp;
    IF(
        AND({!RAM_Amount} = &quot;Fail&quot;, {!Operating_System} = &quot;Fail&quot;),
        &quot;RAM and Operating System.&quot;,
        IF(
            {!RAM_Amount} = &quot;Fail&quot;,
            &quot;RAM.&quot;,
            &quot;Operating System.&quot;
        )
    )
)</expression>
    </formulas>
    <interviewLabel>Create Device Inspection Record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Device Inspection Record</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create new device inspection record.</description>
        <name>Create_Device_Inspection_Record</name>
        <label>Create Device Inspection Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Contact</targetReference>
        </connector>
        <inputAssignments>
            <field>Brand__c</field>
            <value>
                <elementReference>Brand</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact_Lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Inspection_Results__c</field>
            <value>
                <elementReference>InspectionPassorFail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Type__c</field>
            <value>
                <elementReference>Device_Type_Selection</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inspection_Date__c</field>
            <value>
                <elementReference>DateFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Inspector__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DeviceInspectionFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notes__c</field>
            <value>
                <elementReference>Notes</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Operating_System__c</field>
            <value>
                <elementReference>Operating_System</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RAM__c</field>
            <value>
                <elementReference>RAM_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>Device_Inspection__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Contact</name>
        <label>Get Related Contact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Email_Results_to_Recruiting_and_Sales_Manager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Contact_Lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <description>Screen to collect the required information for new device inspection record.</description>
        <name>Device_Inspection_Screen</name>
        <label>Device Inspection Screen</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Device_Inspection_Record</targetReference>
        </connector>
        <fields>
            <name>Contact_Lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Device_Inspection__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Device_Inspection_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Device_Inspection_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Device_Type_Selection</name>
                    <choiceReferences>Device_Type</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Device Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Brand</name>
                    <dataType>String</dataType>
                    <fieldText>Brand</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Device_Inspection_Screen_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Operating_System</name>
                    <choiceReferences>OperatingSystem</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Operating System</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;For Windows devices you must have Windows 11 Pro to Pass. Below that is a Fail. &lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>RAM_Amount</name>
                    <choiceReferences>RAM</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>RAM</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;The minimum requirements for RAM are 16GB. 16GB or more is Pass. Below 16GB is fail. &lt;/p&gt;</helpText>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Notes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;This is where you can note if the candidate has purchased a device, or tell what is going on with this process. &lt;/p&gt;</helpText>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Device_Inspection_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Pass or Fail result of RAM inspection</description>
        <name>RAMResult</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
