temp-flows/flows/CreateRoutingFormLead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Lead_Name</name>
        <label>Assign Lead Name</label>
        <locationX>1070</locationX>
        <locationY>1608</locationY>
        <assignmentItems>
            <assignToReference>Lead_First_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_Formula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Lead_Last_Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_Name_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Question_Answers_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Admin_Profile_Exists</name>
        <label>Admin Profile Exists?</label>
        <locationX>1238</locationX>
        <locationY>2532</locationY>
        <defaultConnectorLabel>Profile Not Found</defaultConnectorLabel>
        <rules>
            <name>Admin_Profile_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Admin_Profile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Admin_User</targetReference>
            </connector>
            <label>Profile Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Admin_User_Exists</name>
        <label>Admin User Exists?</label>
        <locationX>974</locationX>
        <locationY>2748</locationY>
        <defaultConnectorLabel>User Not Found</defaultConnectorLabel>
        <rules>
            <name>Admin_User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lead_Owner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Lead</targetReference>
            </connector>
            <label>User Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists_Converted</name>
        <label>Contact Exists? (Converted)</label>
        <locationX>50</locationX>
        <locationY>2640</locationY>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Associate_Submission_To_Contact</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists_Email</name>
        <label>Contact Exists? (Email)</label>
        <locationX>198</locationX>
        <locationY>2100</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Associate_Submission_To_Contact</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Exists_SFID</name>
        <label>Contact Exists? (SFID)</label>
        <locationX>465</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Get_Lead_SFID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Not Found</defaultConnectorLabel>
        <rules>
            <name>Contact_Found_SFID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Contact</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Submission_To_Contact</targetReference>
            </connector>
            <label>Contact Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_Exists</name>
        <label>Email Exists?</label>
        <locationX>982</locationX>
        <locationY>1884</locationY>
        <defaultConnectorLabel>Email Not Found</defaultConnectorLabel>
        <rules>
            <name>Email_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__Email__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_Email</targetReference>
            </connector>
            <label>Email Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Converted</name>
        <label>Lead Converted?</label>
        <locationX>248</locationX>
        <locationY>2424</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Associate_Submission_To_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Converted</defaultConnectorLabel>
        <rules>
            <name>Converted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Lead.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Converted_Contact</targetReference>
            </connector>
            <label>Converted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Exists_Email</name>
        <label>Lead Exists? (Email)</label>
        <locationX>743</locationX>
        <locationY>2316</locationY>
        <defaultConnector>
            <targetReference>Get_Admin_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Not Found</defaultConnectorLabel>
        <rules>
            <name>Lead_Found_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lead_Converted</targetReference>
            </connector>
            <label>Lead Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Lead_Exists_SFID</name>
        <label>Lead Exists? (SFID)</label>
        <locationX>663</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <targetReference>Get_Questions_Answers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead Not Found</defaultConnectorLabel>
        <rules>
            <name>Lead_Found_SFID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_Lead</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Associate_Submission_To_Lead</targetReference>
            </connector>
            <label>Lead Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_Exists_Loop</name>
        <label>Name Exists? (Loop)</label>
        <locationX>1202</locationX>
        <locationY>1500</locationY>
        <defaultConnector>
            <targetReference>Question_Answers_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Name Not Found</defaultConnectorLabel>
        <rules>
            <name>Name_Found_Loop</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Question_Answers_Loop.Calendly__Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>name</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Name</targetReference>
            </connector>
            <label>Name Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>SFID_Exists</name>
        <label>SFID Exists?</label>
        <locationX>982</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Get_Questions_Answers</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SFID Not Found</defaultConnectorLabel>
        <rules>
            <name>SFID_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Calendly__SalesforceId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact_SFID</targetReference>
            </connector>
            <label>SFID Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>First_Name_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
  CONTAINS(TRIM({!Question_Answers_Loop.Calendly__Answer__c}), &quot; &quot;),
  LEFT(
    TRIM({!Question_Answers_Loop.Calendly__Answer__c}),
    FIND(&quot; &quot;, TRIM({!Question_Answers_Loop.Calendly__Answer__c})) - 1
  ),
  TRIM({!Question_Answers_Loop.Calendly__Answer__c})
)</expression>
    </formulas>
    <formulas>
        <name>Last_Name_Formula</name>
        <dataType>String</dataType>
        <expression>IF(
  CONTAINS(TRIM({!Question_Answers_Loop.Calendly__Answer__c}), &quot; &quot;),
  TRIM(
    MID(
      TRIM({!Question_Answers_Loop.Calendly__Answer__c}),
      FIND(&quot; &quot;, TRIM({!Question_Answers_Loop.Calendly__Answer__c})),
      LEN({!Question_Answers_Loop.Calendly__Answer__c})
    )
  ),
  &quot;NotProvided&quot;
)</expression>
    </formulas>
    <interviewLabel>CreateRoutingFormLead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CreateRoutingFormLead</label>
    <loops>
        <name>Question_Answers_Loop</name>
        <label>Question/Answers Loop</label>
        <locationX>982</locationX>
        <locationY>1392</locationY>
        <collectionReference>Current_Questions_Answers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Name_Exists_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Email_Exists</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Lead</name>
        <label>Create New Lead</label>
        <locationX>710</locationX>
        <locationY>2856</locationY>
        <assignRecordIdToReference>Current_Lead.Id</assignRecordIdToReference>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Associate_Submission_To_Lead</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Set_Submission_As_Orphan</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Calendly__CalendlyCreated__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company</field>
            <value>
                <stringValue>Company Placeholder</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>$Record.Calendly__Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Lead_First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Lead_Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Calendly</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Lead_Owner.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open - Not Contacted</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Admin_Profile</name>
        <label>Get Admin Profile</label>
        <locationX>1238</locationX>
        <locationY>2424</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Admin_Profile_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>System Administrator</stringValue>
            </value>
        </filters>
        <object>Profile</object>
        <outputReference>Admin_Profile</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Admin_User</name>
        <label>Get Admin User</label>
        <locationX>974</locationX>
        <locationY>2640</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Admin_User_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Admin_Profile.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <outputReference>Lead_Owner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_Email</name>
        <label>Get Contact (Email)</label>
        <locationX>198</locationX>
        <locationY>1992</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__Email__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Current_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_SFID</name>
        <label>Get Contact (SFID)</label>
        <locationX>465</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists_SFID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Lead_SFID</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__SalesforceId__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Current_Contact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Converted_Contact</name>
        <label>Get Converted Contact</label>
        <locationX>50</locationX>
        <locationY>2532</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists_Converted</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Current_Lead.ConvertedContactId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>Current_Contact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Email</name>
        <label>Get Lead (Email)</label>
        <locationX>743</locationX>
        <locationY>2208</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Exists_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__Email__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Current_Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>IsConverted</queriedFields>
        <queriedFields>ConvertedContactId</queriedFields>
        <sortField>LastModifiedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_SFID</name>
        <label>Get Lead (SFID)</label>
        <locationX>663</locationX>
        <locationY>600</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Exists_SFID</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Questions_Answers</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__SalesforceId__c</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Current_Lead</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Questions_Answers</name>
        <label>Get Questions/Answers</label>
        <locationX>982</locationX>
        <locationY>1284</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Question_Answers_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__CalendlyRoutingFormSubmission__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>Calendly__CalendlyRoutingFormQuestionsAnswers__c</object>
        <outputReference>Current_Questions_Answers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Calendly__Type__c</queriedFields>
        <queriedFields>Calendly__Question__c</queriedFields>
        <queriedFields>Calendly__Answer__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordUpdates>
        <name>Associate_Submission_To_Contact</name>
        <label>Associate Submission To Contact</label>
        <locationX>267</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>Calendly__Contact__c</field>
            <value>
                <elementReference>Current_Contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Associate_Submission_To_Lead</name>
        <label>Associate Submission To Lead</label>
        <locationX>531</locationX>
        <locationY>816</locationY>
        <inputAssignments>
            <field>Calendly__Lead__c</field>
            <value>
                <elementReference>Current_Lead.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Not necessary, but fault path needs an action to proceed with processing the record</description>
        <name>Set_Submission_As_Orphan</name>
        <label>Set Submission As Orphan</label>
        <locationX>974</locationX>
        <locationY>2964</locationY>
        <inputAssignments>
            <field>Calendly__Contact__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Calendly__Lead__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <sourceTemplate>Calendly__CreateRoutingFormLeadTemplate</sourceTemplate>
    <start>
        <locationX>60</locationX>
        <locationY>0</locationY>
        <object>Calendly__CalendlyRoutingFormSubmission__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>SFID_Exists</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Admin_Profile</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Profile</objectType>
    </variables>
    <variables>
        <name>Current_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Current_Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Current_Questions_Answers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Calendly__CalendlyRoutingFormQuestionsAnswers__c</objectType>
    </variables>
    <variables>
        <name>Lead_First_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>First Name Placeholder</stringValue>
        </value>
    </variables>
    <variables>
        <name>Lead_Last_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Last Name Placeholder</stringValue>
        </value>
    </variables>
    <variables>
        <name>Lead_Owner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
</Flow>
