temp-flows/flows/Delete_Old_MFA_Compliance_Records.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <formulas>
        <name>ThisWeekVar</name>
        <dataType>Date</dataType>
        <expression>TODAY() - MOD(TODAY() - DATE(1900, 1, 8), 7)</expression>
    </formulas>
    <interviewLabel>Delete Old MFA Compliance Records {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Old MFA Compliance Records</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Device_Compliance_Records_not_from_this_week</name>
        <label>Delete Device Compliance Records prior to this week</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <inputReference>Get_Device_Compliance_Records</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Device_Compliance_Records</name>
        <label>Get Device Compliance Records</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Device_Compliance_Records_not_from_this_week</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Report_Date__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>ThisWeekVar</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>MFACompliance__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Device_Compliance_Records</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>MFAComplianceRecordSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
