temp-flows/flows/Device_Offboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_COmpliance</name>
        <label>Send Email to Compliance</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>zslaveniece@financialguide.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddressesArray</name>
        </inputParameters>
        <inputParameters>
            <name>ccRecipientAddressList</name>
            <value>
                <stringValue>pbaker@capstone.financial</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderType</name>
            <value>
                <stringValue>CurrentUser</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>help@capstonetechsupport.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>DeviceOffboardingSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Devicehasbeenoffboarded</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>Create_Device_Offboarded_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>logEmailOnSend</name>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>A007</name>
        <choiceText>A007</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A007</stringValue>
        </value>
    </choices>
    <choices>
        <name>A026</name>
        <choiceText>A026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A026</stringValue>
        </value>
    </choices>
    <choices>
        <name>A157</name>
        <choiceText>A157</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A157</stringValue>
        </value>
    </choices>
    <choices>
        <name>A255</name>
        <choiceText>A255</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A255</stringValue>
        </value>
    </choices>
    <choices>
        <name>Agent_Terminated_or_moved_to_Broker</name>
        <choiceText>Agent Terminated or moved to Broker</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent Terminated or moved to Broker</stringValue>
        </value>
    </choices>
    <choices>
        <name>Device_Retired_Agent_still_with_Capstone</name>
        <choiceText>Device Retired. Agent still with Capstone.</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Device Retired. Agent still with Capstone.</stringValue>
        </value>
    </choices>
    <choices>
        <name>Have_Agent_remove_social_media_affiliation</name>
        <choiceText>Have Agent remove social media affiliation</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Have Agent remove social media affiliation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Have_Agent_remove_Social_Media_Affiliation_While_you_are_connected</name>
        <choiceText>Have Agent remove Social Media Affiliation While you are connected</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Have Agent remove Social Media Affiliation While you are connected</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_all_company_printers</name>
        <choiceText>Remove all company printers</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove all company printers</stringValue>
        </value>
    </choices>
    <choices>
        <name>Remove_all_MassMutual_Data_from_computer</name>
        <choiceText>Remove all MassMutual Data from computer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Remove all MassMutual Data from computer</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uninstall_ATS_Accounts</name>
        <choiceText>Uninstall ATS Accounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uninstall ATS Accounts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uninstall_ATS_or_Admin02_03_Accounts</name>
        <choiceText>Uninstall ATS or Admin02,03 Accounts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uninstall ATS or Admin02,03 Accounts</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uninstall_Capstone_Support</name>
        <choiceText>Uninstall Capstone Support</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uninstall Capstone Support</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uninstall_Edge_Site_Compatibility</name>
        <choiceText>Uninstall Edge Site Compatibility</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uninstall Edge Site Compatibility</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uninstall_Microsoft_Teams</name>
        <choiceText>Uninstall Microsoft Teams</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uninstall Microsoft Teams</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uninstall_Workspace_One_Intelligent_Hub</name>
        <choiceText>Uninstall Workspace One Intelligent Hub</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uninstall Workspace One Intelligent Hub</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uninstall_Workspace_One_Intelligent_Hub_Installer</name>
        <choiceText>Uninstall Workspace One Intelligent Hub Installer</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uninstall Workspace One Intelligent Hub Installer </stringValue>
        </value>
    </choices>
    <choices>
        <name>Uninstall_Zoom_optional</name>
        <choiceText>Uninstall Zoom (optional)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uninstall Zoom (optional)</stringValue>
        </value>
    </choices>
    <choices>
        <name>Uninstall_Zoom_Outlook_Plugin_Optional</name>
        <choiceText>Uninstall Zoom Outlook Plugin Optional</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Uninstall Zoom Outlook Plugin Optional</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <description>This is a Screen Flow.
This flow begins by collecting information about the device being offboarded, including its name and the date it was offboarded. It then asks for the reason behind the offboarding and the agency involved. The user is prompted to select various actions to be taken during the offboarding process, such as removing ATS accounts, uninstalling software, and removing door access codes. Finally, the flow creates a record of the offboarded device and sends an email notification.

Several objects and their fields worth mentioning. Below are the details (the format is given as: object_name - field_name: interaction)
  * Offboarded_Devices__c - Device_Name__c, Date_Offboarded__c, Agency__c, Agents_Staff__c, Full_Name__c, Offboard_Reason__c : Created and populated with device offboarding details.
  * Agents_Staff__c - Agents_Staff__c, MM_ID__c, Agency__c : Queried to retrieve agent/staff details.</description>
    <environments>Default</environments>
    <formulas>
        <name>TodayVar</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Device Offboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Device Offboarding</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Device_Offboarded_Record</name>
        <label>Create Device Offboarded Record</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Send_Email_to_COmpliance</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Get_Contact_Record.Agents_Staff__r.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agents_Staff__c</field>
            <value>
                <elementReference>Get_Contact_Record.Agents_Staff__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_Offboarded__c</field>
            <value>
                <elementReference>Date_Offboarded</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Device_Name__c</field>
            <value>
                <elementReference>Device_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_Name__c</field>
            <value>
                <elementReference>FullNameVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mass_Mutual_ID_AA_or_AE__c</field>
            <value>
                <elementReference>Get_Contact_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Contact_Record.Agents_Staff__r.MM_ID_formula_field__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offboard_Reason__c</field>
            <value>
                <elementReference>Offboarded_Reason</elementReference>
            </value>
        </inputAssignments>
        <object>Offboarded_Devices__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Device_Offboarded_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Device_User.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Device_Offboarding_Screen_Flow</name>
        <label>Device Offboarding Screen Flow</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <fields>
            <name>Device_Offboarding_Screen_Flow_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Device_Offboarding_Screen_Flow_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Device_User</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Device User</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Offboarded_Devices__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>AgentsStaffSelection</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Offboarded_Devices__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Agents_Staff__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Agents/Staff</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Device_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Device Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Device_Offboarding_Screen_Flow_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date_Offboarded</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>TodayVar</elementReference>
                    </defaultValue>
                    <fieldText>Date Offboarded</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Device_Offboarding_Screen_Flow_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Device_Offboarding_Screen_Flow_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Offboarded_Reason</name>
                    <choiceReferences>Agent_Terminated_or_moved_to_Broker</choiceReferences>
                    <choiceReferences>Device_Retired_Agent_still_with_Capstone</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Offboarded Reason</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Device_Offboarding_Screen_Flow_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Agency</name>
                    <choiceReferences>A007</choiceReferences>
                    <choiceReferences>A026</choiceReferences>
                    <choiceReferences>A157</choiceReferences>
                    <choiceReferences>A255</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Agency</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Device_Offboarding_Screen_Flow_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Device_Offboarding_Screen_Flow_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remove_ATS_Account</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Remove ATS Account</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Have_Agent_remove_Social_Media_Affiliation_While_you_are_connected_2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Have Agent remove Social Media Affiliation While you are connected</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Remove_all_company_printers_2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Remove all company printers</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Remove_all_MassMutual_Data_from_computer_2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Remove all MassMutual Data from computer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Uninstall_Capstone_Support_2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Uninstall Capstone Support</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Device_Offboarding_Screen_Flow_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Uninstall_Microsoft_Teams_2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Uninstall Microsoft Teams</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Uninstall_Workspace_One_Intelligent_Hub_2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Uninstall Workspace One Intelligent Hub</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Uninstall_Workspace_One_Intelligent_Hub_Installer_2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Uninstall Workspace One Intelligent Hub Installer</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Uninstall_Edge_Site_Compatibility_3</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Uninstall Edge Site Compatibility</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Remove_Door_Access_Codes_A157_NB_Only_2</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Remove Door Access Codes (A157 NB Only)</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Device_Offboarding_Screen_Flow_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Device_Offboarding_Screen_Flow_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Uninstall_Zoom_optional_1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Uninstall Zoom (optional)</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Device_Offboarding_Screen_Flow_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Uninstall_Zoom_Outlook_Plugin_optional_1</name>
                    <choiceReferences>Yes</choiceReferences>
                    <choiceReferences>No</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Uninstall Zoom Outlook Plugin (optional)</fieldText>
                    <fieldType>RadioButtons</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Device_Offboarding_Screen_Flow</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <textTemplates>
        <name>Devicehasbeenoffboarded</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;Zanna&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Devices for {!AgentsStaffSelection.recordName} were offboarded on {!Date_Offboarded}&lt;/p&gt;&lt;p&gt;Thanks&lt;/p&gt;&lt;p&gt;Capstone Support Team&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>DeviceOffboardingSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Device offboarded for {!AgentsStaffSelection.recordName} were offboarded on {!Date_Offboarded}.</text>
    </textTemplates>
    <variables>
        <name>DeviceOffboardingVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Offboarded_Devices__c</objectType>
    </variables>
    <variables>
        <name>FullNameVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>AgentsStaffSelection.recordName</elementReference>
        </value>
    </variables>
    <variables>
        <name>TermedDeviceVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Encrypted_Device__c</objectType>
    </variables>
    <variables>
        <name>TermedUserRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Name</objectType>
    </variables>
    <variables>
        <name>TermedUsersVAR</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agents_Staff__c</objectType>
    </variables>
</Flow>
