temp-flows/flows/Get_Agents_Staff.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_found_Agents_Staff_Variable</name>
        <label>Assign found Agents/Staff Variable</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>outputAgentsStaffvariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Found_AgentsStaff</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Agents/Staff {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Agents/Staff</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get contacts found from search</description>
        <name>Get_Found_AgentsStaff</name>
        <label>Get Found AgentsStaff</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_found_Agents_Staff_Variable</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputSearchTerm</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inputSearchTerm</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agents_Staff__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Found_AgentsStaff</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Input from search</description>
        <name>inputSearchTerm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>outputAgentsStaffvariable</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Agents_Staff__c</objectType>
    </variables>
</Flow>
