temp-flows/flows/Jotform_Termination_FLow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Jotform Termination FLow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Jotform Termination FLow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Terminated_Users_Record</name>
        <label>Create Terminated Users Record</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Get_Pending_Term_Record.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agents_Staff__c</field>
            <value>
                <elementReference>Agents_Staff_RecordIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_to_Term_User__c</field>
            <value>
                <elementReference>Get_Pending_Term_Record.Date_to_Term_User__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MM_ID_AA_or_AE__c</field>
            <value>
                <elementReference>Get_Pending_Term_Record.MM_ID_AA_or_AE__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Get_Pending_Term_Record.Termed_User_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>$Record.Personal_Email__c</elementReference>
            </value>
        </inputAssignments>
        <object>Terminated_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Agents_Staff</name>
        <label>Get Agents/Staff</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Terminated_Users_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Full_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Termed_User_Name__c</elementReference>
            </value>
        </filters>
        <object>Agents_Staff__c</object>
        <outputAssignments>
            <assignToReference>Agents_Staff_RecordIdVar</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Contact</name>
        <label>Get Matching Contact</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agents_Staff</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Termed_User_Name__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ContactIdVar</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_Term_Record</name>
        <label>Get Pending Term Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Matching_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pending_Termination_c__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Pending_Term_Record</targetReference>
        </connector>
        <object>Pending_Termination_c__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Agents_Staff_RecordIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
