temp-flows/flows/Latest_ALC_Notes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_First_ContentDocumentLink</name>
        <label>Assign First_ContentDocumentLink</label>
        <locationX>226</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>First_ContentDocumentLink</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Content</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>First_ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Content.ContentDocumentId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Exit_After_Record_First_Record</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Collection_Filter_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Collection Filter 2</label>
        <locationX>182</locationX>
        <locationY>468</locationY>
        <assignNextValueToReference>currentItem_Collection_Filter_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Related_ContentDOcumentLink_Records</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Collection_Filter_2.SystemModstamp</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <elementReference>YesterdayFormula</elementReference>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Check_if_the_collection_is_not_null_and_not_empty_before_proceeding</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Collection_Sort_2</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Collection Sort 2</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Related_ContentDOcumentLink_Records</collectionReference>
        <connector>
            <targetReference>Collection_Filter_2</targetReference>
        </connector>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>SystemModstamp</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <collectionProcessors>
        <name>Sort_ContentDocumentLinks</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Sort ContentDocumentLinks</label>
        <locationX>50</locationX>
        <locationY>684</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>NotNull</collectionReference>
        <connector>
            <targetReference>Loop_Through_Content</targetReference>
        </connector>
        <limit>1</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>ContentDocumentId</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_if_the_collection_is_not_null_and_not_empty_before_proceeding</name>
        <label>Check if the collection is not null and not empty before proceeding.</label>
        <locationX>182</locationX>
        <locationY>576</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Continue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_ContentDOcumentLink_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sort_ContentDocumentLinks</targetReference>
            </connector>
            <label>Continue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exit_After_Record_First_Record</name>
        <label>Exit After Record First Record?</label>
        <locationX>226</locationX>
        <locationY>1008</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>One</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Through_Content</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>YesterdayFormula</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 1</expression>
    </formulas>
    <interviewLabel>Latest ALC Notes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Latest ALC Notes</label>
    <loops>
        <name>Loop_Through_Content</name>
        <label>Loop Through Content</label>
        <locationX>50</locationX>
        <locationY>792</locationY>
        <collectionReference>Get_Related_ContentDOcumentLink_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_First_ContentDocumentLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ContentDocument</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ContentDocument</name>
        <label>Get ContentDocument</label>
        <locationX>50</locationX>
        <locationY>1392</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ContentNote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ContentNote</name>
        <label>Get ContentNote</label>
        <locationX>50</locationX>
        <locationY>1500</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Related_ALC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_ContentDocument.Id</elementReference>
            </value>
        </filters>
        <object>ContentNote</object>
        <outputAssignments>
            <assignToReference>NoteDate</assignToReference>
            <field>CreatedDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NotesText</assignToReference>
            <field>Title</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_ContentDOcumentLink_Records</name>
        <label>Get Related ContentDOcumentLinkRecords</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collection_Sort_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Related_ALC</name>
        <label>Update Related ALC</label>
        <locationX>50</locationX>
        <locationY>1608</locationY>
        <inputAssignments>
            <field>Latest_Note_Date__c</field>
            <value>
                <elementReference>NoteDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Latest_Note_Text__c</field>
            <value>
                <elementReference>NotesText</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_ContentDOcumentLink_Records</targetReference>
        </connector>
        <object>ALC__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2025-04-15</startDate>
            <startTime>06:45:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>currentItem_Collection_Filter_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>First_ContentDocumentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>First_ContentDocumentLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>NoteDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotesText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NotNull</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>One</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
