temp-flows/flows/MapUserCalendlyLink.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Found_User_Active</name>
        <label>Found User Active?</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>User inactive</defaultConnectorLabel>
        <rules>
            <name>User_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_User.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_User_Profile_Link</targetReference>
            </connector>
            <label>User active</label>
        </rules>
    </decisions>
    <decisions>
        <name>User_exists</name>
        <label>User exists?</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No User Found</defaultConnectorLabel>
        <rules>
            <name>User_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Find_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Found_User_Active</targetReference>
            </connector>
            <label>User Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MapUserCalendlyLink {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CalendlyMapUserCalendlyLink</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_User</name>
        <label>Find User</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Calendly__Email__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Profile_Link</name>
        <label>Update User Profile Link</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Find_User.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Calendly__CalendlyLink__c</field>
            <value>
                <elementReference>$Record.Calendly__Url__c</elementReference>
            </value>
        </inputAssignments>
        <object>User</object>
    </recordUpdates>
    <sourceTemplate>Calendly__MapUserCalendlyLinkTemplate</sourceTemplate>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Find_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Calendly__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>profile</stringValue>
            </value>
        </filters>
        <object>Calendly__CalendlyLink__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
