temp-flows/flows/New_Candidate_Screen_Flow_Diljeet.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Redirect_to_New_Record</name>
        <label>Redirect to New Record</label>
        <locationX>314</locationX>
        <locationY>1406</locationY>
        <actionName>ecflc:flowIdRedirect</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>CanRecVar.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>buttonLabel</name>
            <value>
                <stringValue>Go To Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
        </inputParameters>
        <nameSegment>ecflc:flowIdRedirect</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Contact_Exists</name>
        <label>Contact Exists?</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Contact</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Candidate_Record_Contact_Found</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Schedule_a_follow_up_call</name>
        <label>Schedule a follow-up call?</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <defaultConnector>
            <targetReference>Redirect_to_New_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Schedule_A_Call</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_New_Call</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This is a Screen Flow for Diljeet Masuda that has his preferred defaults.
This flow begins by retrieving the current user&apos;s ID. It then presents a screen to input new candidate details such as name, email, gender, office location, type, and status. After collecting these details, it creates a new record in the Candidate__c object with the provided information. If the &apos;Schedule A Call?&apos; option is selected, it creates a new task for follow-up.

Several objects and their fields worth mentioning. Below are the details (the format is given as: object_name - field_name: interaction)
  * User - Id : Retrieves the current user&apos;s ID
  * Candidate__c - Name, Agency__c, Email__c, First_Name__c, Gender__c, Last_Name__c, Mobile__c, Next_Step__c, Office_Location__c, OwnerId, Status__c, Type__c, personal_email__c, Candidate_Sourced_By__c, Recruiting_Source__c, Recruiting_Sub_Source__c, Attraction_Interview_Date_Scheduled__c, Attraction_Interview_Date_Completed__c, Attraction_Conducted_by__c : Stores the new candidate&apos;s information</description>
    <dynamicChoiceSets>
        <name>Agency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Agency__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Gender</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NextStep</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Next_Step__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Position</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Position__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecruitingSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Recruiting_Source__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SMChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Manager__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>CandidateNameVar</name>
        <dataType>String</dataType>
        <expression>{!CandidateName.firstName}&amp;&quot; &quot;&amp;{!CandidateName.lastName}</expression>
    </formulas>
    <interviewLabel>New Candidate Screen Flow-Diljeet {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Candidate Screen Flow-Diljeet</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Candidate_Record</name>
        <label>Create Candidate Record</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignRecordIdToReference>CanRecVar.Id</assignRecordIdToReference>
        <connector>
            <targetReference>New_Candidate_Created</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>AgencyChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attraction_Conducted_by__c</field>
            <value>
                <elementReference>Attraction_Conducted_by</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attraction_Interview_Date_Completed__c</field>
            <value>
                <elementReference>Attraction_Interview_Date_Completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attraction_Interview_Date_Scheduled__c</field>
            <value>
                <elementReference>Attraction_Interview_Date_Scheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Sourced_By__c</field>
            <value>
                <elementReference>Candidate_Sourced_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>EmailChoice.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>CandidateName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>GenderChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>CandidateName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Mobile_Number.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CandidateNameVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Next_Step</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Location_Picklist__c</field>
            <value>
                <elementReference>Office_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruiting_Source__c</field>
            <value>
                <elementReference>Recruiting_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruiting_Sub_Source__c</field>
            <value>
                <elementReference>Recruiting_Sub_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <elementReference>Sales_Manager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>StatusChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TypeChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>personal_email__c</field>
            <value>
                <elementReference>EmailChoice.value</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Candidate_Record_Contact_Found</name>
        <label>Create Candidate Record</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>CanRecVar.Id</assignRecordIdToReference>
        <connector>
            <targetReference>New_Candidate_Created</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Duplicate_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateName.firstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Middle_Name_or_Initial__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateName.middleName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateName.lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Suffix__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateName.suffix</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>AgencyChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attraction_Conducted_by__c</field>
            <value>
                <elementReference>Attraction_Conducted_by</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attraction_Interview_Date_Completed__c</field>
            <value>
                <elementReference>Attraction_Interview_Date_Completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attraction_Interview_Date_Scheduled__c</field>
            <value>
                <elementReference>Attraction_Interview_Date_Scheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Sourced_By__c</field>
            <value>
                <elementReference>Candidate_Sourced_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>EmailChoice.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>CandidateName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>GenderChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>CandidateName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name_or_Initial__c</field>
            <value>
                <elementReference>CandidateName.middleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Mobile_Number.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>CandidateNameVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Next_Step</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nickname__c</field>
            <value>
                <elementReference>CandidateName.informalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Location_Picklist__c</field>
            <value>
                <elementReference>Office_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruiting_Source__c</field>
            <value>
                <elementReference>Recruiting_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruiting_Sub_Source__c</field>
            <value>
                <elementReference>Recruiting_Sub_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <elementReference>Sales_Manager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>StatusChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix__c</field>
            <value>
                <elementReference>CandidateName.suffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>TypeChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>personal_email__c</field>
            <value>
                <elementReference>EmailChoice.value</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
        <operationMultMatchingRecords>None</operationMultMatchingRecords>
        <operationOneMatchingRecord>None</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignRecordIdToReference>ContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Candidate_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateName.firstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>MiddleName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateName.middleName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateName.lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Suffix</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateName.suffix</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>EmailChoice.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>CandidateName.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>CandidateName.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>CandidateName.middleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile_Number.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nickname__c</field>
            <value>
                <elementReference>CandidateName.informalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sex__c</field>
            <value>
                <elementReference>GenderChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix</field>
            <value>
                <elementReference>CandidateName.suffix</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Call</name>
        <label>Create New Call</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Redirect_to_New_Record</targetReference>
        </connector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>Scheduled_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>F/u to schedule AI</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>CanRecVar.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Matching_Contact</name>
        <label>Get Matching Contact</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_Exists</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4) OR 5</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateName.firstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateName.lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>MiddleName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateName.middleName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Suffix</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CandidateName.suffix</elementReference>
            </value>
        </filters>
        <filters>
            <field>Personal_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>EmailChoice.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User Id</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Candidate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Duplicate_Record</name>
        <label>Duplicate Record</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>duplicate_candidate_error</name>
            <fieldText>&lt;p&gt;Candidate could not be created due to a duplicate record.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Candidate</name>
        <label>New Candidate Screen Flow</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Matching_Contact</targetReference>
        </connector>
        <fields>
            <name>New_Candidate_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Candidate_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CandidateName</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>firstName,middleName,lastName,informalName,suffix</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>EmailChoice</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>GenderChoice</name>
                    <choiceReferences>Gender</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Office_Location</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Las Vegas</stringValue>
                    </defaultValue>
                    <fieldText>Office Location</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>TypeChoice</name>
                    <choiceReferences>Type</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Candidate</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Candidate_Sourced_By</name>
                    <dataType>String</dataType>
                    <fieldText>Candidate Sourced By</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Candidate_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AgencyChoice</name>
                    <choiceReferences>Agency</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>A157</stringValue>
                    </defaultValue>
                    <fieldText>Agency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PositionChoice</name>
                    <choiceReferences>Position</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Agent</stringValue>
                    </defaultValue>
                    <fieldText>Position</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Mobile_Number</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>StatusChoice</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Active/In Process</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Next_Step</name>
                    <choiceReferences>NextStep</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>F/up to schedule SI 1</stringValue>
                    </defaultValue>
                    <fieldText>Next Step</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Sales_Manager</name>
                    <choiceReferences>SMChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Diljeet Masuda</stringValue>
                    </defaultValue>
                    <fieldText>Sales Manager</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Candidate_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Candidate_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recruiting_Sub_Source</name>
                    <dataType>String</dataType>
                    <fieldText>Recruiting Sub-Source</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Attraction_Interview_Date_Scheduled</name>
                    <dataType>Date</dataType>
                    <fieldText>Attraction Interview Date Scheduled</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Attraction_Conducted_by</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Diljeet Masuda</stringValue>
                    </defaultValue>
                    <fieldText>Attraction Conducted by</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Candidate_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recruiting_Source</name>
                    <choiceReferences>RecruitingSource</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Recruiting Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Attraction_Interview_Date_Completed</name>
                    <dataType>Date</dataType>
                    <fieldText>Attraction Interview Date Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Candidate_Created</name>
        <label>New Candidate Created</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Schedule_a_follow_up_call</targetReference>
        </connector>
        <fields>
            <name>NewCandidateCreated</name>
            <fieldText>&lt;p&gt;New Candidate Created!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Schedule_A_Call</name>
            <dataType>Boolean</dataType>
            <fieldText>Schedule A Call?</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Candidate_Created_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Candidate_Created_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Scheduled_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Scheduled Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Candidate_Created_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Subject</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>F/u to schedule AI</stringValue>
                    </defaultValue>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Schedule_A_Call</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Schedule_A_Call</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CanRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Candidate__c</objectType>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
