temp-flows/flows/Onboarding_Staff_Agents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <choices>
        <name>A007</name>
        <choiceText>A007</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A007</stringValue>
        </value>
    </choices>
    <choices>
        <name>A026</name>
        <choiceText>A026</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A026</stringValue>
        </value>
    </choices>
    <choices>
        <name>A157</name>
        <choiceText>A157</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A157</stringValue>
        </value>
    </choices>
    <choices>
        <name>A255</name>
        <choiceText>A255</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A255</stringValue>
        </value>
    </choices>
    <choices>
        <name>Agent</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;Agent&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agent</stringValue>
        </value>
    </choices>
    <choices>
        <name>ALC</name>
        <choiceText>ALC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ALC</stringValue>
        </value>
    </choices>
    <choices>
        <name>ASO</name>
        <choiceText>ASO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ASO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Assistant</name>
        <choiceText>Assistant</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Assistant</stringValue>
        </value>
    </choices>
    <choices>
        <name>ATS</name>
        <choiceText>ATS</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ATS</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bookkeeper</name>
        <choiceText>Bookkeeper</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bookkeeper</stringValue>
        </value>
    </choices>
    <choices>
        <name>Brokerage_Director</name>
        <choiceText>Brokerage Director</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Brokerage Director</stringValue>
        </value>
    </choices>
    <choices>
        <name>Century_City_CA</name>
        <choiceText>Century City, CA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Century City, CA</stringValue>
        </value>
    </choices>
    <choices>
        <name>COO</name>
        <choiceText>COO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>COO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Core</name>
        <choiceText>Core</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Core</stringValue>
        </value>
    </choices>
    <choices>
        <name>Denver_CO</name>
        <choiceText>Denver, CO</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Denver, CO</stringValue>
        </value>
    </choices>
    <choices>
        <name>Detached</name>
        <choiceText>Detached</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Detached</stringValue>
        </value>
    </choices>
    <choices>
        <name>Director_of_Business_Development</name>
        <choiceText>Director of Business Development</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Director of Business Development</stringValue>
        </value>
    </choices>
    <choices>
        <name>Director_of_New_Business</name>
        <choiceText>Director of New Business</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Director of New Business</stringValue>
        </value>
    </choices>
    <choices>
        <name>Executive_Assistant_to_GA</name>
        <choiceText>Executive Assistant to GA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Executive Assistant to GA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Intern</name>
        <choiceText>Intern</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Intern</stringValue>
        </value>
    </choices>
    <choices>
        <name>KoreaTown_CA</name>
        <choiceText>KoreaTown, CA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>KoreaTown, CA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Las_Vegas_NV</name>
        <choiceText>Las Vegas, NV</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Las Vegas, NV</stringValue>
        </value>
    </choices>
    <choices>
        <name>Lehi_UT</name>
        <choiceText>Lehi, UT</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Lehi, UT</stringValue>
        </value>
    </choices>
    <choices>
        <name>Marketing_Director</name>
        <choiceText>Marketing Director</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Marketing Director</stringValue>
        </value>
    </choices>
    <choices>
        <name>NBC</name>
        <choiceText>NBC</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>NBC</stringValue>
        </value>
    </choices>
    <choices>
        <name>Newport_Beach_CA</name>
        <choiceText>Newport Beach, CA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Newport Beach, CA</stringValue>
        </value>
    </choices>
    <choices>
        <name>Playa_Vista</name>
        <choiceText>{!Playa Vista}}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>{!Playa Vista}}</stringValue>
        </value>
    </choices>
    <choices>
        <name>Playa_Vista_Choice</name>
        <choiceText>Playa Vista</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Playa Vista</stringValue>
        </value>
    </choices>
    <choices>
        <name>Recruiter</name>
        <choiceText>Recruiter</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Recruiter</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sales_Manager</name>
        <choiceText>Sales Manager</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sales Manager</stringValue>
        </value>
    </choices>
    <choices>
        <name>Staff</name>
        <choiceText>Staff</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Staff</stringValue>
        </value>
    </choices>
    <constants>
        <description>&lt;p&gt;In order to get your computer encrypted and set up with FieldNet and email access, please use the link below to schedule an appointment with one of our Tech Specialists:&lt;/p&gt;
&lt;p&gt;&lt;a href=&quot;https://calendly.com/a007-support/a007-new-computer-encryption&quot; target=&quot;_blank&quot;&gt;https://calendly.com/a007-support/a007-new-computer-encryption&lt;/a&gt;&lt;/p&gt;
&lt;p&gt;If you have any questions, please let me know.&lt;/p&gt;
&lt;br&gt;
&lt;p&gt;Thank you!&lt;/p&gt;
&lt;p&gt;Pat Baker&lt;br&gt;
Director Of Technology&lt;br&gt;
Capstone Partners Financial and Insurance Services, LLC&lt;br&gt;
MassMutual&lt;/p&gt;
&lt;p&gt;2000 South Colorado Blvd | Suite 800 | Denver, Colorado 80222&lt;/p&gt;
&lt;p&gt;Direct: 303.779.6542 | Main: 303.692.8183 | Mobile: 720.513.7386&lt;/p&gt;</description>
        <name>A007WelcomeEmailBody</name>
        <dataType>String</dataType>
    </constants>
    <decisions>
        <name>Does_Agent_Exist</name>
        <label>Does Agent/Staff Exist?</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Create_Agent_Staff_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>AgentYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varAgentsStaffId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_Found</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_exist</name>
        <label>Does Contact exist?</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>Create_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Does_Agent_Exist</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CandidateChoiceSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Position__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Position_Choice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Position__c</picklistField>
        <picklistObject>Agents_Staff__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Agents_Staff_Name</name>
        <dataType>String</dataType>
        <expression>{!First_Name} &amp; &quot; &quot; &amp; {!Last_Name}</expression>
    </formulas>
    <interviewLabel>Onboarding Staff/Agents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Onboarding Staff/Agents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Agent_Staff_Record</name>
        <label>Create Agent/Staff Record</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_Agents_Staff_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Duplicate_Agent_Record</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Last_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>First_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>MM_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MassMutual_ID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Agency</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agents_Staff__c</field>
            <value>
                <elementReference>varAgentsStaffId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>ContactRecVar.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contracting_Status__c</field>
            <value>
                <stringValue>Complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_Office_Location__c</field>
            <value>
                <elementReference>Core_Office_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Core_or_Detached__c</field>
            <value>
                <elementReference>Core_or_Detached</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Do_Not_Create_Onboarding_Tickets__c</field>
            <value>
                <elementReference>Do_Not_Create_Onboarding_Tickets</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MM_ID__c</field>
            <value>
                <elementReference>MassMutual_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Mobile_Number.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Agents_Staff_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>Personal_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Position__c</field>
            <value>
                <elementReference>Position</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date__c</field>
            <value>
                <elementReference>Start_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Work_Email__c</field>
            <value>
                <elementReference>Work_Email.value</elementReference>
            </value>
        </inputAssignments>
        <object>Agents_Staff__c</object>
        <operationMultMatchingRecords>UpdateLatestRecord</operationMultMatchingRecords>
        <operationOneMatchingRecord>UpdateAllRecords</operationOneMatchingRecord>
        <operationZeroMatchingRecords>AddRecord</operationZeroMatchingRecords>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <assignRecordIdToReference>varContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Does_Agent_Exist</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Work_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MM_ID__c</field>
            <value>
                <elementReference>MassMutual_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>Mobile_Number.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Agents_Staff_Record</name>
        <label>Get Agents Staff Record</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Agent_Staff_Record</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Agents_Staff__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Agent_Staff_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Look_for_Contact</name>
        <label>Look for Contact</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_exist</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </filters>
        <filters>
            <field>Personal_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Personal_Email.value</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>varContactId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agent_Staff_Record</name>
        <label>Update Agent/Staff Record</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Agent_Staff_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ALC__c</field>
            <value>
                <elementReference>ALCIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Nominators__c</field>
            <value>
                <elementReference>CandidateIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>varContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Agents_Staff__c</object>
    </recordUpdates>
    <screens>
        <name>Agents_Staff_Onboarding_Form</name>
        <label>Agents/Staff Onboarding Form</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Look_for_Contact</targetReference>
        </connector>
        <fields>
            <name>Agent_Staff_Onboarding_Form</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 24px;&quot;&gt;﻿Agents/Staff Onboarding Form&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Position</name>
            <choiceReferences>CandidateChoiceSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Position</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Start_Date</name>
            <dataType>Date</dataType>
            <fieldText>Start Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Agency</name>
            <choiceReferences>A007</choiceReferences>
            <choiceReferences>A157</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Agency</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Core_or_Detached</name>
            <choiceReferences>Core</choiceReferences>
            <choiceReferences>Detached</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Core or Detached?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Core_Office_Location</name>
            <choiceReferences>Newport_Beach_CA</choiceReferences>
            <choiceReferences>KoreaTown_CA</choiceReferences>
            <choiceReferences>Las_Vegas_NV</choiceReferences>
            <choiceReferences>Lehi_UT</choiceReferences>
            <choiceReferences>Playa_Vista_Choice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Core Office Location</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Personal_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>readonly</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Personal Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Mobile_Number</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Mobile Phone</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>MassMutual_ID</name>
            <dataType>String</dataType>
            <fieldText>MassMutual ID</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Work_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Work Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Do_Not_Create_Onboarding_Tickets</name>
            <dataType>Boolean</dataType>
            <fieldText>Do Not Create Onboarding Tickets</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Duplicate_Agent_Record</name>
        <label>Duplicate Agent Record</label>
        <locationX>578</locationX>
        <locationY>866</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_DuplicateContactDetected</name>
            <fieldText>&lt;p&gt;Duplicate Agent/Staff Record Detected, Record cannot be saved.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Found</name>
        <label>Record Found</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirect_to_record</name>
            <extensionName>ecflc:flowIdRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>ALCIdVar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Agents_Staff_Onboarding_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>A007PrintInstallInstructions</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;lt;p&amp;gt;Click the link below to install printers. When it asks for username enter your AA# including the letters. Password will be 1234.&amp;lt;/p&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;lt;p&amp;gt;&amp;lt;/p&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;lt;p&amp;gt;&amp;lt;a href=&quot;http://10.175.24.36:9163/setup&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot;&amp;gt;10.175.24.36:9163/setup&amp;lt;/a&amp;gt;&amp;lt;/p&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <description>A007 Welcome Email Body</description>
        <name>WelcometoCapstoneEmailA007</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;lt;p&amp;gt;In order to get your computer encrypted and set up with FieldNet and email access, please use the link below to schedule an appointment with one of our Tech Specialists:&amp;lt;/p&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;lt;p&amp;gt;&amp;lt;a href=&quot;https://calendly.com/a007-support/a007-new-computer-encryption&quot; target=&quot;_blank&quot;&amp;gt;https://calendly.com/a007-support/a007-new-computer-encryption&amp;lt;/a&amp;gt;&amp;lt;/p&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;lt;p&amp;gt;If you have any questions, please let me know.&amp;lt;/p&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;lt;br&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;lt;p&amp;gt;Thank you!&amp;lt;/p&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;lt;p&amp;gt;Pat Baker&amp;lt;br&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Director Of Technology&amp;lt;br&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;Capstone Partners Financial and Insurance Services, LLC&amp;lt;br&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;MassMutual&amp;lt;/p&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;lt;p&amp;gt;2000 South Colorado Blvd | Suite 800 | Denver, Colorado 80222&amp;lt;/p&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 13px;&quot;&gt;&amp;lt;p&amp;gt;Direct: 303.779.6542 | Main: 303.692.8183 | Mobile: 720.513.7386&amp;lt;/p&amp;gt;&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ALCIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CandidateIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>OnboardingEmailRecipientList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersonalEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Personal_Email.value</elementReference>
        </value>
    </variables>
    <variables>
        <name>varAgentsStaffId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WelcomeEmailRecipientAddressPersonalEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Personal_Email.value</elementReference>
        </value>
    </variables>
</Flow>
