temp-flows/flows/Terminated_Agent_Staff_Workflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Post_Separation_Obligations157</name>
        <label>Post Separation Obligations 157</label>
        <locationX>314</locationX>
        <locationY>1814</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>PersEmailVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>help@capstonetechsupport.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Post Separation Obligations</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>TermedUserContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X5f000000Ezqg</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Post_Separation_Obligations_007</name>
        <label>Post Separation Obligations 007</label>
        <locationX>50</locationX>
        <locationY>1814</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>PersEmailVar</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <stringValue>help@capstonetechsupport.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Post Separation Obligations</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>TermedUserContactId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <stringValue>00X5f000000Ezop</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Agency_Variable</name>
        <label>Assign Agency Variable</label>
        <locationX>446</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Agency_of_termed_user</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_User_Agency</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Created_Termed_User_Record_Agency_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Personal_EMail</name>
        <label>Assign Personal EMail</label>
        <locationX>402</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>PersEmailVar</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Personal_Email.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_Agency_Present</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Termed_User_Contact_ID</name>
        <label>Assign Termed User Contact ID</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>TermedUserContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TermedUserRecVar.Contact__r.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Does_Termed_User_have_a_Personal_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Termed_User_Record_Id_to_Variable</name>
        <label>Assign Termed User Record Id to Variable</label>
        <locationX>314</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>RecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TermedUserLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Termed_User_Agents_Staff_Record</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A007_Choice</name>
        <choiceText>A007</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A007</stringValue>
        </value>
    </choices>
    <choices>
        <name>Agency</name>
        <choiceText>Agency</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agency</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Does_Termed_User_have_a_Personal_Email</name>
        <label>Does Termed User have a Personal Email</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>Enter_Personal_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Personal EMail</defaultConnectorLabel>
        <rules>
            <name>Personal_Email_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TermedUserRecVar</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Is_Agency_Present</targetReference>
            </connector>
            <label>Personal Email Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Agency_Present</name>
        <label>Is Agency Present</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Select_Users_Agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TermedUserRecVar.Agency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Created_Termed_User_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Agency</name>
        <label>Which Agency</label>
        <locationX>314</locationX>
        <locationY>1706</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>A007</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TermedUserRecVar.Agency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A007</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Separation_Obligations_007</targetReference>
            </connector>
            <label>A007</label>
        </rules>
        <rules>
            <name>A157</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TermedUserRecVar.Agency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>A157</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Post_Separation_Obligations157</targetReference>
            </connector>
            <label>A157</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Select_Agency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Agency__c</picklistField>
        <picklistObject>Agents_Staff__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Terminated Agent/Staff Workflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Terminated Agent/Staff Workflow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Created_Termed_User_Record</name>
        <label>Created Termed User Record</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <connector>
            <targetReference>Update_Agents_Staff_Record_Employment_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Agency_of_termed_user</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agents_Staff__c</field>
            <value>
                <elementReference>TermedUserLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>TermedUserRecVar.Contact__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_to_Term_User__c</field>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MM_ID_AA_or_AE__c</field>
            <value>
                <elementReference>TermedUserRecVar.MM_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TermedUserLookup.recordName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>Personal_Email.value</elementReference>
            </value>
        </inputAssignments>
        <object>Terminated_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Created_Termed_User_Record_Agency_Present</name>
        <label>Created Termed User Record_Agency_Present</label>
        <locationX>446</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>Update_Agents_Staff_Record_Employment_Status</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>TermedUserRecVar.Agency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agents_Staff__c</field>
            <value>
                <elementReference>TermedUserLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>TermedUserContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Date_to_Term_User__c</field>
            <value>
                <elementReference>Termination_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MM_ID_AA_or_AE__c</field>
            <value>
                <elementReference>TermedUserRecVar.MM_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TermedUserLookup.recordName</elementReference>
            </value>
        </inputAssignments>
        <object>Terminated_User__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Contact_Record</name>
        <label>Get Contact Record</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Termed_User_Contact_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>TermedUserLookup.recordId</elementReference>
            </value>
        </filters>
        <object>Agents_Staff__c</object>
        <outputReference>TermedUserRecVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Contact__c</queriedFields>
        <queriedFields>Agency__c</queriedFields>
        <queriedFields>MM_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Termed_User_Agents_Staff_Record</name>
        <label>Get Termed User Agents/Staff Record</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Contact_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <object>Agents_Staff__c</object>
        <outputAssignments>
            <assignToReference>PersEmailVar</assignToReference>
            <field>Personal_Email__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <description>Update Agents/Staff Record Employment Status to terminated.</description>
        <name>Update_Agents_Staff_Record_Employment_Status</name>
        <label>Update Agents/Staff Record Employment Status</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <connector>
            <targetReference>Which_Agency</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Employment_Status__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Terminated</stringValue>
            </value>
        </inputAssignments>
        <object>Agents_Staff__c</object>
    </recordUpdates>
    <screens>
        <name>Enter_Personal_Email</name>
        <label>Enter_Personal_Email</label>
        <locationX>402</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Personal_EMail</targetReference>
        </connector>
        <fields>
            <name>Enter_Terminated_User_Personal_Email</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;Enter Termed User&apos;s Personal Email&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Personal_Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Personal Email</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Select_Users_Agency</name>
        <label>Select User&apos;s Agency</label>
        <locationX>446</locationX>
        <locationY>1190</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Agency_Variable</targetReference>
        </connector>
        <fields>
            <name>Select_User_Agency</name>
            <choiceReferences>Select_Agency</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Agency</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Termed_User_Lookup</name>
        <label>Termed User Lookup</label>
        <locationX>314</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Termed_User_Record_Id_to_Variable</targetReference>
        </connector>
        <fields>
            <name>TermedUserLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Agents_Staff__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Termed User Lookup</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Agents_Staff__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Termination_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>Today</elementReference>
            </defaultValue>
            <fieldText>Termination Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Termed_User_Lookup</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>A026TermTempId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>00X / 00X5f000000EzovEAC</stringValue>
        </value>
    </variables>
    <variables>
        <name>Agency_of_termed_user</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PersEmailVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TermedUserContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TermedUserIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>TermedUserPersonalEmailVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TermedUserRecVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Agents_Staff__c</objectType>
    </variables>
</Flow>
