temp-flows/flows/Updated_Candidate_Creation_Screen_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Does_Contact_Exist</name>
        <label>Does Contact Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Diljeet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Contact_Diljeet.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Candidate_Contact_Exists_Diljeet</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_Contact_Exist_Default</name>
        <label>Does Contact Exist? Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Create_Contact_Record_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Default_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Matching_Contact_Diljeet.Id</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Candidate_Contact_Exists_Default</targetReference>
            </connector>
            <label>Default Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_user_is_running_this_flow</name>
        <label>What user is running this flow?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>New_Candidate_Screen_Default</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Diljeet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Running_User_Record.FirstName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Diljeet</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Candidate_Screen_Diljeet</targetReference>
            </connector>
            <label>Diljeet</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Agency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Agency__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AttractionConductedByChoices</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Attraction_Conducted_by__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>GenderChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Gender__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NextStep</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Next_Step__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OfficeLocationChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Office_Location_Picklist__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Position</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Position__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RecruitingSource</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Recruiting_Source__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SalesManager</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sales_Manager__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Candidate__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DefaultCandidateNameVar</name>
        <dataType>String</dataType>
        <expression>{!Copy_1_of_Name.firstName}&amp;&quot; &quot;&amp;{!Copy_1_of_Name.lastName}</expression>
    </formulas>
    <formulas>
        <name>DiljeetCandidateNameVar</name>
        <dataType>String</dataType>
        <expression>{!Name.firstName}&amp;&quot; &quot;&amp;{!Name.lastName}</expression>
    </formulas>
    <interviewLabel>Updated Candidate Creation Screen Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Updated Candidate Creation Screen Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_2_of_Create_Candidate_No_Contact_Exists_Default</name>
        <label>Create Candidate-No Contact Exists Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>CandidateIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_to_link_to_Candidate_No_Contact_Exists_Default</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Copy_1_of_AgencyChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Matching_Contact_Default.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Copy_1_of_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Copy_1_of_Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Copy_1_of_Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Copy_1_of_Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name_or_Initial__c</field>
            <value>
                <elementReference>Copy_1_of_Name.middleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Copy_1_of_MobilePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DefaultCandidateNameVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Copy_1_of_Next_Step</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nickname__c</field>
            <value>
                <elementReference>Copy_1_of_Name.informalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Location_Picklist__c</field>
            <value>
                <elementReference>Office_Location_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <elementReference>Copy_1_of_Sales_Manager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Copy_1_of_StatusChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix__c</field>
            <value>
                <elementReference>Copy_1_of_Name.suffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Copy_1_of_TypeChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>personal_email__c</field>
            <value>
                <elementReference>Copy_1_of_Email.value</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Candidate_Contact_Exists_Default</name>
        <label>Create Candidate-Contact Exists Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>CandidateIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_to_link_to_Candidate_Contact_Exists_Default</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>Copy_1_of_AgencyChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Matching_Contact_Default.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Copy_1_of_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Copy_1_of_Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Copy_1_of_Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Copy_1_of_Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name_or_Initial__c</field>
            <value>
                <elementReference>Copy_1_of_Name.middleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>Copy_1_of_MobilePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DiljeetCandidateNameVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Copy_1_of_Next_Step</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nickname__c</field>
            <value>
                <elementReference>Copy_1_of_Name.informalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Location_Picklist__c</field>
            <value>
                <elementReference>Office_Location_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <elementReference>Copy_1_of_Sales_Manager</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Copy_1_of_StatusChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix__c</field>
            <value>
                <elementReference>Copy_1_of_Name.suffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Copy_1_of_TypeChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>personal_email__c</field>
            <value>
                <elementReference>Copy_1_of_Email.value</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Candidate_Contact_Exists_Diljeet</name>
        <label>Create Candidate-Contact Exists Diljeet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>CandidateIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_to_link_to_Candidate_Contact_Exists_Diljeet</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>AgencyChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attraction_Conducted_by__c</field>
            <value>
                <elementReference>Attraction_Interview_Conducted_by</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attraction_Interview_Date_Completed__c</field>
            <value>
                <elementReference>Attraction_Interview_Date_Completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attraction_Interview_Date_Scheduled__c</field>
            <value>
                <elementReference>Attraction_Interview_Date_Scheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Sourced_By__c</field>
            <value>
                <elementReference>Candidate_Sourced_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Matching_Contact_Diljeet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name_or_Initial__c</field>
            <value>
                <elementReference>Name.middleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>MobilePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DiljeetCandidateNameVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Next_Step</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nickname__c</field>
            <value>
                <elementReference>Name.informalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Location_Picklist__c</field>
            <value>
                <elementReference>Office_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruiting_Source__c</field>
            <value>
                <elementReference>Recruiting_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruiting_Sub_Source__c</field>
            <value>
                <elementReference>Recruiting_Sub_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <stringValue>Diljeet Masuda</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>StatusChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix__c</field>
            <value>
                <elementReference>Name.suffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>personal_email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Candidate_No_Contact_Exists_Diljeet</name>
        <label>Create Candidate-No Contact Exists Diljeet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>CandidateIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Contact_to_link_to_Candidate_No_Contact_Exists_Diljeet</targetReference>
        </connector>
        <inputAssignments>
            <field>Agency__c</field>
            <value>
                <elementReference>AgencyChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attraction_Conducted_by__c</field>
            <value>
                <elementReference>Attraction_Interview_Conducted_by</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attraction_Interview_Date_Completed__c</field>
            <value>
                <elementReference>Attraction_Interview_Date_Completed</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Attraction_Interview_Date_Scheduled__c</field>
            <value>
                <elementReference>Attraction_Interview_Date_Scheduled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Candidate_Sourced_By__c</field>
            <value>
                <elementReference>Candidate_Sourced_By</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Matching_Contact_Diljeet.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>First_Name__c</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gender__c</field>
            <value>
                <elementReference>Gender</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_Name__c</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Middle_Name_or_Initial__c</field>
            <value>
                <elementReference>Name.middleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mobile__c</field>
            <value>
                <elementReference>MobilePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>DiljeetCandidateNameVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Next_Step__c</field>
            <value>
                <elementReference>Next_Step</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nickname__c</field>
            <value>
                <elementReference>Name.informalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Office_Location_Picklist__c</field>
            <value>
                <elementReference>Office_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruiting_Source__c</field>
            <value>
                <elementReference>Recruiting_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recruiting_Sub_Source__c</field>
            <value>
                <elementReference>Recruiting_Sub_Source</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Manager__c</field>
            <value>
                <stringValue>Diljeet Masuda</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>StatusChoice</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix__c</field>
            <value>
                <elementReference>Name.suffix</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Candidate</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>personal_email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <object>Candidate__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Diljeet</name>
        <label>Create Contact Diljeet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Candidate_No_Contact_Exists_Diljeet</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>Name.middleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix</field>
            <value>
                <elementReference>Name.suffix</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_Record_Default</name>
        <label>Create Contact Record Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignRecordIdToReference>contactIdVar</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_2_of_Create_Candidate_No_Contact_Exists_Default</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Copy_1_of_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Copy_1_of_Name.firstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Copy_1_of_Name.lastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MiddleName</field>
            <value>
                <elementReference>Copy_1_of_Name.middleName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Nickname__c</field>
            <value>
                <elementReference>Copy_1_of_Name.informalName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Personal_Email__c</field>
            <value>
                <elementReference>Copy_1_of_Email.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Suffix</field>
            <value>
                <elementReference>Copy_1_of_Name.suffix</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Matching_Contact_Default</name>
        <label>Get Matching Contact Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist_Default</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4) OR 5</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>MiddleName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name.middleName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Suffix</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name.suffix</elementReference>
            </value>
        </filters>
        <filters>
            <field>Personal_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Matching_Contact_Diljeet</name>
        <label>Get Matching Contact Diljeet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_Contact_Exist</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4) OR 5</filterLogic>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name.firstName</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name.lastName</elementReference>
            </value>
        </filters>
        <filters>
            <field>MiddleName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name.middleName</elementReference>
            </value>
        </filters>
        <filters>
            <field>Suffix</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Name.suffix</elementReference>
            </value>
        </filters>
        <filters>
            <field>Personal_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Email.value</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Running_User_Record</name>
        <label>Get Running User Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_user_is_running_this_flow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Contact_to_link_to_Candidate_Contact_Exists_Default</name>
        <label>Update Contact to link to Candidate Contact Exists Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Created_Contact_Exists_Default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Matching_Contact_Default.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>CandidateIdVar</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_to_link_to_Candidate_Contact_Exists_Diljeet</name>
        <label>Update Contact to link to Candidate Contact Exists Diljeet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Created_Contact_Exists_Diljeet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Matching_Contact_Diljeet.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>CandidateIdVar</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_to_link_to_Candidate_No_Contact_Exists_Default</name>
        <label>Update Contact to link to Candidate No Contact Exists Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Created_No_Contact_Exists_Default</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactIdVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>CandidateIdVar</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_to_link_to_Candidate_No_Contact_Exists_Diljeet</name>
        <label>Update Contact to link to Candidate No Contact Exists Diljeet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Record_Created_No_Contact_Exists_Diljeet</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactIdVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Candidate__c</field>
            <value>
                <elementReference>CandidateIdVar</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>New_Candidate_Screen_Default</name>
        <label>New Candidate Screen Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Matching_Contact_Default</targetReference>
        </connector>
        <fields>
            <name>New_Candidate_Screen_Default_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Candidate_Screen_Default_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>firstName,middleName,lastName,informalName,suffix</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Gender</name>
                    <choiceReferences>GenderChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Office_Location_Picklist</name>
                    <choiceReferences>OfficeLocationChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Office Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_TypeChoice</name>
                    <choiceReferences>Type</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Candidate</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Candidate_Screen_Default_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Copy_1_of_AgencyChoice</name>
                    <choiceReferences>Agency</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Agency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_PositionChoice</name>
                    <choiceReferences>Position</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Position</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_MobilePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_StatusChoice</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Next_Step</name>
                    <choiceReferences>NextStep</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Next Step</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Copy_1_of_Sales_Manager</name>
                    <choiceReferences>SalesManager</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sales Manager</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Candidate_Screen_Diljeet</name>
        <label>New Candidate Screen Diljeet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Matching_Contact_Diljeet</targetReference>
        </connector>
        <fields>
            <name>New_Candidate_Screen_Diljeet_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Candidate_Screen_Diljeet_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Name</name>
                    <extensionName>flowruntime:name</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldsToDisplayList</name>
                        <value>
                            <stringValue>firstName,middleName,lastName,informalName,suffix</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Email</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Gender</name>
                    <choiceReferences>GenderChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Gender</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Office_Location</name>
                    <choiceReferences>OfficeLocationChoice</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Las Vegas</stringValue>
                    </defaultValue>
                    <fieldText>Office Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>TypeChoice</name>
                    <choiceReferences>Type</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Candidate</stringValue>
                    </defaultValue>
                    <fieldText>Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Candidate_Sourced_By</name>
                    <dataType>String</dataType>
                    <fieldText>Candidate Sourced By</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Candidate_Screen_Diljeet_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AgencyChoice</name>
                    <choiceReferences>Agency</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>A157</stringValue>
                    </defaultValue>
                    <fieldText>Agency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>PositionChoice</name>
                    <choiceReferences>Position</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Agent</stringValue>
                    </defaultValue>
                    <fieldText>Position</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>MobilePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mobile Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>StatusChoice</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Next_Step</name>
                    <choiceReferences>NextStep</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Next Step</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Sales_Manager</name>
                    <choiceReferences>SalesManager</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Diljeet Masuda</stringValue>
                    </defaultValue>
                    <fieldText>Sales Manager</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>New_Candidate_Screen_Diljeet_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Candidate_Screen_Diljeet_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recruiting_Sub_Source</name>
                    <dataType>String</dataType>
                    <fieldText>Recruiting Sub-Source</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Attraction_Interview_Date_Scheduled</name>
                    <dataType>Date</dataType>
                    <fieldText>Attraction Interview Date Scheduled</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Attraction_Interview_Conducted_by</name>
                    <choiceReferences>AttractionConductedByChoices</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Attraction Interview Conducted by</fieldText>
                    <fieldType>MultiSelectPicklist</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Candidate_Screen_Diljeet_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recruiting_Source</name>
                    <choiceReferences>RecruitingSource</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Recruiting Source</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Attraction_Interview_Date_Completed</name>
                    <dataType>Date</dataType>
                    <fieldText>Attraction Interview Date Completed</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Created_Contact_Exists_Default</name>
        <label>Record Created Contact Exists Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Redirect_to_Candidate</name>
            <extensionName>ecflc:flowIdRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CandidateIdVar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Created_Contact_Exists_Diljeet</name>
        <label>Record Created Contact Exists Diljeet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>GoToRecord</name>
            <extensionName>ecflc:flowIdRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Candidate_Contact_Exists_Diljeet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Created_No_Contact_Exists_Default</name>
        <label>Record Created No Contact Exists Default</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Redirect_to_Candidate</name>
            <extensionName>ecflc:flowIdRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CandidateIdVar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_Created_No_Contact_Exists_Diljeet</name>
        <label>Record Created No Contact Exists Diljeet</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_GoToRecord</name>
            <extensionName>ecflc:flowIdRedirect</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Create_Candidate_Contact_Exists_Diljeet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Running_User_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CandidateIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CandidateRecIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contactIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
